// This file doesn't generate any css
@mixin button {
  display         : inline-block;
  padding         : .15em 1em;
  background      : $firstColor;
  color           : #FFF;
  margin          : 0 0.5rem 0 0;
  cursor          : pointer;
  text-decoration : none;
  border-radius   : .25rem;
  transition      : transform .05s;
  border          : none;
  text-align      : center;

  &:hover {
    background      : darken($firstColor, 5);
    text-decoration : inherit;
  }

  &:active {
    transform : scale(.99)
  }
  b{
    transform: scaleX(1.4);
  }
}

@mixin button-small {
  padding : .3em .8em;
}

@mixin button-center {
  display : table;
  margin  : 0 auto;
}

@mixin button-full {
  margin     : 0;
  width      : 100%;
}

@mixin button-secondary {
  background : $secondColor;

  &:hover {
    background : darken($secondColor, 2);
  }
}

@mixin button-tertiary {
  background : linear-gradient(darken($thirdColor, 10), lighten($thirdColor, 5));

  &:hover {
    background : darken($thirdColor, 6);
  }
}

@mixin button-cta {
  background : $accentColor;

  &:hover {
    background : darken($accentColor, 2);
  }
}

@mixin button-dark {
  background : $darkColor;

  &:hover {
    background : darken($darkColor, 10);
  }
}

@mixin button-ghost {
  color      : $firstColor;
  background : none;
  border     : 1px solid;

  &:hover {
    background   : $firstColor;
    color        : #FFF;
  }
}

@mixin button-ghost-secondary {
  color : $secondColor;

  &:hover {
    background : $secondColor;
    color      : #FFF;
  }
}

@mixin button-ghost-tertiary {
  color : $firstColor;
  &:hover {
    background : linear-gradient(lighten($thirdColor, 5), darken($thirdColor, 10));
    color      : #FFF;
  }
}

@mixin button-ghost-cta {
  color : $accentColor;

  &:hover {
    background : $accentColor;
    color      : #FFF;
  }
}

@mixin button-ghost-dark {
  color      :$firstColor;
  border-color: $thirdColor;
  &:hover {
    // background : linear-gradient(lighten($thirdColor, 5), darken($thirdColor, 10));
    background: transparent;
    color : $thirdColor;
    border-color: $firstColor;
  }
}
