// Typography config
// This file doesn't generate any css
// CSS for typography will be generate from theme/_typography.scss file.

@font-face {
  font-family: "Homenaje-Regular";
  src: url("../fonts/Homenaje-Regular.woff") format("woff"),
    url("../fonts/Homenaje-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

// Convert pixels to rem
@function rem($px) {
  @return ($px / 16px) * 1rem;
}

// Font families
$content-font : Lato, 'sans-serif'; 
$body-font   : 'Homenaje-Regular', 'sans-serif'; // only 400 and 400i
$heading-font : 'Open Sans', 'sans-serif'; // only 700

// Font sizes
$fontSizes: (
  t1      : rem(36px),
  t2      : rem(30px),
  t3      : rem(24px),
  normal  : rem(20px),
  small   : rem(16px),
  smaller : rem(14px),
);

// Get font size from map
@function fontSize($size) {
  @if map-has-key($fontSizes, $size) {
    @return map-get($fontSizes,$size)
  } @else {
    @error '$size is not valid, valid values are t1, t2, t3, normal, small, smaller'
  }
}

// Mixins
@mixin t1 {
  font-size: fontSize(t1);
  @include to(l) { font-size: fontSize(t2) }
}

@mixin t2 {
  font-size: fontSize(t2);
  @include to(l) { font-size: fontSize(t3) }
}

@mixin t3 {
  font-size: fontSize(t3);
  @include to(l) { font-size: fontSize(normal) }
}

@mixin font-base {
  font-size : fontSize(normal);
  @include to(l) { font-size: fontSize(small) }
}


// FONTASTIC

@font-face {
  font-family: "untitled-font-1";
  src:url("../fonts/untitled-font-1.eot");
  src:url("../fonts/untitled-font-1.eot?#iefix") format("embedded-opentype"),
    url("../fonts/untitled-font-1.woff") format("woff"),
    url("../fonts/untitled-font-1.ttf") format("truetype"),
    url("../fonts/untitled-font-1.svg#untitled-font-1") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "untitled-font-1" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "untitled-font-1" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-youtube:before {
  content: "\61";
}
.icon-twitter:before {
  content: "\65";
}
.icon-down:before {
  content: "\62";
}
.icon-up:before {
  content: "\63";
}
.icon-facebook:before {
  content: "\64";
}
.icon-zoom:before {
  content: "\66";
}
.icon-play:before {
  content: "\67";
}
.icon-pictures:before {
  content: "\68";
}
.icon-read:before {
  content: "\69";
}

.whatsapp {
  position: relative;
  padding-right: 35px;
  padding-top: 7px;
  padding-bottom: 7px;
  &::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    background: url(../images/whatsapp.png);
  }
}
