extends ../includes/template.pug
block content
  include ../includes/poppup.pug
  main.main.main_slider
    include ../includes/slider.pug
  main
    .comunicat.main(:id="menuinicio[1].href")
      include ../includes/nosotros.pug  
      hr
  main
    .comunicat.main
      include ../includes/servicios-cards.pug  
      hr
  main
    .comunicat.main(:id="mainmenu[0].href")
      include ../includes/comunicacion-integral.pug
      hr
  main
    .comunicat.main(:id="mainmenu[1].href")
      include ../includes/organizacion-de-eventos-corporativos.pug
      hr
  main
    .comunicat.main(:id="mainmenu[2].href")
      include ../includes/organizacion-de-espectaculos.pug