extends ../includes/template.pug
block content
  .comunicat.main__content_text
    article.comunicat.aarticle(v-show="true")
      .gallery
        h2.main__title_2 
          span Asesoramiento integral de eventos culturales 
        p 
          b ComunicaT
          | , empresa de Comunicación integral y Organización de eventos y espectáculos culturales (Asesoramiento, diseño, planificación y producción)
        .gallery__content
          a.gallery__link(href="https://www.youtube.com/watch?v=zxRJOgxu6-U" class="mediabox")
            img.gallery__img(:src="'https://img.youtube.com/vi/'+ idYoutube('https://www.youtube.com/watch?v=zxRJOgxu6-U') +'/sddefault.jpg'", alt="")
            span: i.icon-play
          div
            p.gallery__title Texto de imagen
        .gallery__content
          a.gallery__link(href="https://www.youtube.com/watch?v=AK_fsgjoVYk" class="mediabox")
            img.gallery__img(:src="'https://img.youtube.com/vi/'+ idYoutube('https://www.youtube.com/watch?v=AK_fsgjoVYk') +'/sddefault.jpg'", alt="")
            span: i.icon-play
          div  
            p.gallery__title Texto de imagen
        .gallery__content
          a.gallery__link(href="images/eventos-corporativos.jpg", data-caption="<p>PRUEBA DE TEXTO 1</p>")
            img.gallery__img(src="images/eventos-corporativos.jpg", alt="")
            span: i.icon-zoom
          div
            p.gallery__title Titulo
  //- main.main
    include ../includes/slider.pug
  //- main
    .comunicat.main(:id="menuinicio[1].href")
      include ../includes/nosotros.pug  
      hr
  //- main
    .comunicat.main
      include ../includes/servicios-cards.pug  
      hr
  //- main
    .comunicat.main(:id="mainmenu[0].href")
      include ../includes/comunicacion-integral.pug
      hr
  //- main
    .comunicat.main(:id="mainmenu[1].href")
      include ../includes/organizacion-de-eventos-corporativos.pug
      hr
  main
    .comunicat
      h2.main__title(v-text="mainmenu[2].title")
    .comunicat.main
      a.button--ghost--tertiary.button--acordion(:class="mainmenu[2].submenu[0].state ? 'button--acordion_active' : ''", href="#organizacion-de-espectaculos", v-text="mainmenu[2].submenu[0].title")
      transition(name="acordion")
        article.comunicat.article(v-show="true")
          .article__content.gallery
            .gallery__content
              a.gallery__link(href="https://www.youtube.com/watch?v=zxRJOgxu6-U" class="mediabox")
                img.gallery__img(:src="'https://img.youtube.com/vi/'+ idYoutube('https://www.youtube.com/watch?v=zxRJOgxu6-U') +'/sddefault.jpg'", alt="")
                span: i.icon-play
              div
                p.gallery__title Texto de imagen
            .gallery__content
              a.gallery__link(href="https://www.youtube.com/watch?v=AK_fsgjoVYk" class="mediabox")
                img.gallery__img(:src="'https://img.youtube.com/vi/'+ idYoutube('https://www.youtube.com/watch?v=AK_fsgjoVYk') +'/sddefault.jpg'", alt="")
                span: i.icon-play
              div  
                p.gallery__title Texto de imagen
            .gallery__content
              a.gallery__link(href="images/eventos-corporativos.jpg", data-caption="<p>PRUEBA DE TEXTO 1</p><p>PRUEBA DE TEXTO 1</p><p>PRUEBA DE TEXTO 1</p>")
                img.gallery__img(src="images/eventos-corporativos.jpg", alt="")
                span: i.icon-zoom
              div
                p.gallery__title Titulo
            .gallery__content
              a.gallery__link(href="javascript:void(0)")
                img.gallery__img(src="images/eventos-corporativos.jpg", alt="")
                span: i.icon-pictures
              div
                p.gallery__title Titulo
                a.gallery__link(href="javascript:void(0)" ).button--secondary Ver más
            .gallery__content
              a(data-modal-open href="#modal-3") Modal 1
              #modal-3.modal-hider(style="display:none;") Modal 1 content
            .gallery__content
              a(data-modal-open href="#modal-2") Modal 2
              #modal-2.modal-hider(style="display:none;") Modal 1 content
            .gallery__content
              a.gallery__link(href="images/eventos-corporativos.jpg", data-caption="<p>PRUEBA DE TEXTO 1</p><p>PRUEBA DE TEXTO 1</p><p>PRUEBA DE TEXTO 1</p>")
                img.gallery__img(src="images/eventos-corporativos.jpg", alt="")
                span: i.icon-zoom
              div
                p.gallery__title Titulo