extends ../includes/template.pug
block content
	.comunicat
		h2 BOTONES
		.show-buttons.comunicat
			a.button.center class="button center"
			a.button.full class="button full"
			a.button class="button"
			a.button--secondary class="button--secondary"
			a.button--tertiary class="button--tertiary"
			a.button--accent class="button--accent"
			a.button--dark class="button--dark"
			a.button--ghost class="button--ghost"
			a.button--ghost--secondary class="button--ghost--secondary"
			a.button--ghost--tertiary class="button--ghost--tertiary"
			a.button--ghost--accent class="button--ghost--accent"
			a.button--ghost--dark class="button--ghost--dark"
	.comunicat
		h2 Tabla predeterminanda
		.table-container
			table
				tbody
					tr
					th
					th Enero
					th Febrero
					th Marzo
					th Abril
					th Mayo
					th Junio
					th Julio
					th Agosto
					th Setiembre
					th Octubre
					th Noviembre
					th Diciembre
					tr
					td Ventas
					td 10045
					td 20090
					td 30135
					td 40180
					td 50225
					td 60270
					td 70315
					td 80360
					td 90405
					td 100450
					td 110495
					td 120540
					tr
					td Gastos
					td 2761
					td 5522
					td 8283
					td 11044
					td 13805
					td 16566
					td 19327
					td 22088
					td 24849
					td 27610
					td 30371
					td 33132
					tr
					td Impuestos
					td 976
					td 1952
					td 2928
					td 3904
					td 4880
					td 5856
					td 6832
					td 7808
					td 8784
					td 9760
					td 10736
					td 11712
					tr
					td Ventas
					td 10045
					td 20090
					td 30135
					td 40180
					td 50225
					td 60270
					td 70315
					td 80360
					td 90405
					td 100450
					td 110495
					td 120540
					tr
					td Gastos
					td 2761
					td 5522
					td 8283
					td 11044
					td 13805
					td 16566
					td 19327
					td 22088
					td 24849
					td 27610
					td 30371
					td 33132
					tr
					td Impuestos
					td 976
					td 1952
					td 2928
					td 3904
					td 4880
					td 5856
					td 6832
					td 7808
					td 8784
					td 9760
					td 10736
					td 11712
		h2 Tabla secundaria            
		.table-container.table--secondary
			table
				tbody
				tr
					th
					th Enero
					th Febrero
					th Marzo
					th Abril
					th Mayo
					th Junio
					th Julio
					th Agosto
					th Setiembre
					th Octubre
					th Noviembre
					th Diciembre
				tr
					td Ventas
					td 10045
					td 20090
					td 30135
					td 40180
					td 50225
					td 60270
					td 70315
					td 80360
					td 90405
					td 100450
					td 110495
					td 120540
				tr
					td Gastos
					td 2761
					td 5522
					td 8283
					td 11044
					td 13805
					td 16566
					td 19327
					td 22088
					td 24849
					td 27610
					td 30371
					td 33132
				tr
					td Impuestos
					td 976
					td 1952
					td 2928
					td 3904
					td 4880
					td 5856
					td 6832
					td 7808
					td 8784
					td 9760
					td 10736
					td 11712
				tr
					td Ventas
					td 10045
					td 20090
					td 30135
					td 40180
					td 50225
					td 60270
					td 70315
					td 80360
					td 90405
					td 100450
					td 110495
					td 120540
				tr
					td Gastos
					td 2761
					td 5522
					td 8283
					td 11044
					td 13805
					td 16566
					td 19327
					td 22088
					td 24849
					td 27610
					td 30371
					td 33132
				tr
					td Impuestos
					td 976
					td 1952
					td 2928
					td 3904
					td 4880
					td 5856
					td 6832
					td 7808
					td 8784
					td 9760
					td 10736
					td 11712
		h2 Tabla con enfasis          
		.table-container.table--accent.first-column
			table
				tbody
				tr
					th
					th Enero
					th Febrero
					th Marzo
					th Abril
					th Mayo
					th Junio
					th Julio
					th Agosto
					th Setiembre
					th Octubre
					th Noviembre
					th Diciembre
				tr
					td Ventas
					td 10045
					td 20090
					td 30135
					td 40180
					td 50225
					td 60270
					td 70315
					td 80360
					td 90405
					td 100450
					td 110495
					td 120540
				tr
					td Gastos
					td 2761
					td 5522
					td 8283
					td 11044
					td 13805
					td 16566
					td 19327
					td 22088
					td 24849
					td 27610
					td 30371
					td 33132
				tr
					td Impuestos
					td 976
					td 1952
					td 2928
					td 3904
					td 4880
					td 5856
					td 6832
					td 7808
					td 8784
					td 9760
					td 10736
					td 11712
				tr
					td Ventas
					td 10045
					td 20090
					td 30135
					td 40180
					td 50225
					td 60270
					td 70315
					td 80360
					td 90405
					td 100450
					td 110495
					td 120540
				tr
					td Gastos
					td 2761
					td 5522
					td 8283
					td 11044
					td 13805
					td 16566
					td 19327
					td 22088
					td 24849
					td 27610
					td 30371
					td 33132
				tr
					td Impuestos
					td 976
					td 1952
					td 2928
					td 3904
					td 4880
					td 5856
					td 6832
					td 7808
					td 8784
					td 9760
					td 10736
					td 11712
		h2 Tabla oscura          
		.table-container.table--dark.first-column
			table
				tbody
				tr
					th
					th Enero
					th Febrero
					th Marzo
					th Abril
					th Mayo
					th Junio
					th Julio
					th Agosto
					th Setiembre
					th Octubre
					th Noviembre
					th Diciembre
				tr
					td Ventas
					td 10045
					td 20090
					td 30135
					td 40180
					td 50225
					td 60270
					td 70315
					td 80360
					td 90405
					td 100450
					td 110495
					td 120540
				tr
					td Gastos
					td 2761
					td 5522
					td 8283
					td 11044
					td 13805
					td 16566
					td 19327
					td 22088
					td 24849
					td 27610
					td 30371
					td 33132
				tr
					td Impuestos
					td 976
					td 1952
					td 2928
					td 3904
					td 4880
					td 5856
					td 6832
					td 7808
					td 8784
					td 9760
					td 10736
					td 11712
				tr
					td Ventas
					td 10045
					td 20090
					td 30135
					td 40180
					td 50225
					td 60270
					td 70315
					td 80360
					td 90405
					td 100450
					td 110495
					td 120540
				tr
					td Gastos
					td 2761
					td 5522
					td 8283
					td 11044
					td 13805
					td 16566
					td 19327
					td 22088
					td 24849
					td 27610
					td 30371
					td 33132
				tr
					td Impuestos
					td 976
					td 1952
					td 2928
					td 3904
					td 4880
					td 5856
					td 6832
					td 7808
					td 8784
					td 9760
					td 10736
					td 11712
		h2 Tabla first-column          
		.table-container.first-column
			table
				tbody
				tr
					th
					th Enero
					th Febrero
					th Marzo
					th Abril
					th Mayo
					th Junio
					th Julio
					th Agosto
					th Setiembre
					th Octubre
					th Noviembre
					th Diciembre
				tr
					td Ventas
					td 10045
					td 20090
					td 30135
					td 40180
					td 50225
					td 60270
					td 70315
					td 80360
					td 90405
					td 100450
					td 110495
					td 120540
				tr
					td Gastos
					td 2761
					td 5522
					td 8283
					td 11044
					td 13805
					td 16566
					td 19327
					td 22088
					td 24849
					td 27610
					td 30371
					td 33132
				tr
					td Impuestos
					td 976
					td 1952
					td 2928
					td 3904
					td 4880
					td 5856
					td 6832
					td 7808
					td 8784
					td 9760
					td 10736
					td 11712
				tr
					td Ventas
					td 10045
					td 20090
					td 30135
					td 40180
					td 50225
					td 60270
					td 70315
					td 80360
					td 90405
					td 100450
					td 110495
					td 120540
				tr
					td Gastos
					td 2761
					td 5522
					td 8283
					td 11044
					td 13805
					td 16566
					td 19327
					td 22088
					td 24849
					td 27610
					td 30371
					td 33132
				tr
					td Impuestos
					td 976
					td 1952
					td 2928
					td 3904
					td 4880
					td 5856
					td 6832
					td 7808
					td 8784
					td 9760
					td 10736
					td 11712
		p.strong Listas de características
		.feature-list
			ul
				li
					| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean egestas feugiat dolor. Quisque eget eros quis neque egestas ultricies. Aliquam porttitor metus ut egestas consequat. Nullam vel dui in justo scelerisque egestas. Cras non facilisis justo. Nunc in faucibus risus. Pellentesque felis diam, condimentum vitae mattis ut, sollicitudin a libero. Pellentesque malesuada pharetra justo, nec fringilla tortor adipiscing at. Maecenas accumsan, enim id mattis blandit, urna enim bibendum est, at volutpat massa neque vitae libero. Phasellus cursus leo hendrerit neque consequat gravida.
				li Item list 2
				li Item list 3
				li Item list 4
				li Item list 5
		h2.item Lista de datos 
		ul.item.data-list
			li
				p.strong Dominios permitidos
				p 10 dominios .com
			li
				p.strong Ventas acumuladas en 2017
				p $ 1 786 000 000
			li
				p.strong Mostrar un botón
				a.button--accent.small(href='#') Inscribete ahora
		form
			.comunicat
				.item.form__item
				label Nombre de usuario
				input
				.item.form__item
				label Su contraseña
				input
				.item.form__item
				p.small Ejemplos de checkbox
				label
					input(type='checkbox')
					| Elige esta opcion
				label
					input(type='checkbox')
					| Elige esta opcion
				.item.form__item
				p.small Ejemplos de radio buttons
				label
					input(type='radio', name='radio')
					| Elige esta otra opcion
				label
					input(type='radio', name='radio')
					| Elige esta otra opcion
				.item.form__item
				label Selecciona tu país
				select
					option Colombia
					option Bolivia
					option Argentina
					option Perú
					option México
				.item.form__item
				textarea(placeholder='Escriba su mensaje')
				.item.form__item
				input.button.full.small(type='submit', value='Enviar')
		br
		h2.item CARDS TARJETAS
		br
		.col50
			.card
				.card__img
					img(src="images/banner.jpg")
				.card__content
					.card__title Título de la tarjeta
					.card__subtitle
						p Subtitulo de la tarjeta
					.card__body
						p Este el contenido de la tarjeta en caso lo requiera. Algunas tarjetas (...).
					footer.card__footer
						.card__user
							.card__user-img
								img(src="usuario.jpg")
							.card__user-name
								a(href="#") Alexys Lozada
						.card__button
							a(href="#").button--ghost--tertiary.button--small Etiqueta
		.col50
			.card
				.card__img
					img(src="images/banner.jpg")
				.card__content
					.card__title Título de la tarjeta
					.card__subtitle
						p Subtitulo de la tarjeta
					.card__body
						p Este el contenido de la tarjeta en caso lo requiera. Algunas tarjetas (...).
					footer.card__footer
						.card__user
							.card__user-img
								img(src="usuario.jpg")
							.card__user-name
								a(href="#") Alexys Lozada
						.card__button
							a(href="#").button--ghost--tertiary.button--small Etiqueta
