.data-list {
  li div:last-child p{
    text-align : right;
  }
}

.vertical-menu-toggle {
  color: $firstColor;
}

hr{ width: 100%; }

.icon-down{
  position: relative;
  &:before {
    content: "\62";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -12px;
  }
}


body.vanilla-modal .modal-hider {
    position: absolute;
    left: -99999em;
  }