<!DOCTYPE html>
<html lang="es" prefix="og: http://ogp.me/ns#">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>ComunícaT | Comunicación integral, organización de eventos corporativos y espectáculos </title>
    <meta name="designer" content="Fernando Javier Averanga Aruquipa / nandes.ingsistemas@gmail.com"/>
    <meta name="description" content="Estrategias de comunicación, diseño gráfico, producción audiovisual. Planificación de eventos, lanzamientos, convenciones, seminarios, talleres, presentaciones, inauguraciones, ferias, exposiciones y show romos. Organización de almuerzos, cenas, vinos de honor. Asesoramiento de eventos culturales. Producción de espectáculos y shows artísticos"/>
    <meta property="og:title" content="ComunícaT | Comunicación integral, organización de eventos corporativos y espectáculos"/>
    <meta property="og:description" content="Estrategías de comunicación, diseño gráfico, producción audiovisual. Planificación de eventos, lanzamientos, convenciones, seminarios, talleres, presentaciones, inauguraciones, ferias, exposiciones y show romos. Organización de almuerzos, cenas, vinos de honor. Asesoramiento de eventos culturales. Producción de espectáculos y shows artísticos"/>
    <meta name="author" content="Lic. Sandra Delgadillo Pacheco | Directora General"/>
    <meta name="keywords" content=""/>
    <link rel="stylesheet" href="css/styles.css?v1.0.5"/>
  </head>
  <body>
    <div class="poppup_slider" id="comunicat">
      <header class="header" id="header">
        <nav class="header__top"></nav>
        <nav>
          <div class="header__content comunicat">
            <div class="header__logo"><img src="images/comunicaT.png" alt=""/></div>
            <div class="header__menu_movil">
              <ul class="header__social_movil social">
                <li class="header__social_item social__icon"><a class="header__social_link" href="" target="_black"><i class="icon-facebook"> </i></a></li>
                <li class="header__social_item social__icon"><a class="header__social_link" href="" target="_black"><i class="icon-youtube"></i></a></li>
                <li class="header__social_item social__icon"><a class="header__social_link" href="" target="_black"><i class="icon-twitter"></i></a></li>
              </ul><a class="button full button--movil" href="javascript:void(0)" @click="toggleMenu()">MENÚ</a>
            </div>
            <div class="header__menu" :class="toggle ? 'header__menu_toggle' : ''">
              <ul class="header__social social">
                <li class="header__social_item social__icon"><a class="header__social_link" href="" target="_black"><i class="icon-facebook"> </i></a></li>
                <li class="header__social_item social__icon"><a class="header__social_link" href="" target="_black"><i class="icon-youtube"></i></a></li>
                <li class="header__social_item social__icon"><a class="header__social_link" href="" target="_black"><i class="icon-twitter"></i></a></li>
              </ul>
              <div class="header__inicio"><a class="button--ghost" v-for="item in menuinicio" v-text="item.title" :href="baseUrl + '#' + item.href" @click="toggle = false"></a></div>
              <div class="header__list"><a :class="'button' + item.color" v-for="item in mainmenu" :href="baseUrl + '#' + item.href" v-text="item.title" @click="toggle = false"> </a></div>
            </div>
          </div>
        </nav>
      </header>
      <transition name="modal--slider">
        <template v-if="showmodal">
          <div :class="{ 'modal-popup': showmodal }">
            <div class="modal-popup__close" v-on:click="showmodal=false"><span>Cerrar</span><svg width="30" height="30"><g stroke="rgb(160,160,160)" stroke-width="4"><line x1="5" y1="5" x2="25" y2="25"></line><line x1="5" y1="25" x2="25" y2="5"></line></g></svg></div>
            <div class="modal-popup__background" v-on:click="showmodal=false"></div>
            <div class="my-slider">
              <div><img src="images/poppup01.jpg" alt="nandes"/>
                <div class="modal-popup__button"><a class="button" href="#1">Ver más</a></div>
              </div>
              <div><img src="images/poppup02.jpg" alt="nandes"/>
                <div class="modal-popup__button"><a class="button" href="#2">Ver más</a></div>
              </div>
              <div><img src="images/poppup03.jpg" alt="nandes"/>
                <div class="modal-popup__button"><a class="button" href="#3">Ver más</a></div>
              </div>
            </div>
          </div>
        </template>
      </transition>
      <main class="main main_slider">
        <div class="slider-comunicat">
          <div class="main-banner main-banner--tertiary">
            <div class="comunicat">
              <div class="item"><img class="main-banner__img" src="https://www.hoteleselba.com/sites/default/files/empresas_1.jpg"/>
                <div class="main-banner__data">
                  <h1>Comunicación integral</h1>
                  <p class="subtitle"> Subtítulo del banner</p>
                  <!-- opcional--><a class="button center" :href="'#' + mainmenu[0].href">Ver más</a>
                  <!-- opcional-->
                </div>
              </div>
            </div>
          </div>
          <div class="main-banner main-banner">
            <div class="comunicat">
              <div class="item"><img class="main-banner__img" src="images/slide2.jpg"/>
                <div class="main-banner__data">
                  <h1>Organización de eventos corporativos</h1>
                  <p class="subtitle"> Subtítulo del banner</p>
                  <!-- opcional--><a class="button--tertiary center" :href="'#' + mainmenu[1].href">Ver más</a>
                  <!-- opcional-->
                </div>
              </div>
            </div>
          </div>
          <div class="main-banner main-banner--accent">
            <div class="comunicat">
              <div class="item"><img class="main-banner__img" src="images/slide3.jpg"/>
                <div class="main-banner__data">
                  <h1>Organización de espectáculos</h1>
                  <p class="subtitle"> Subtítulo del banner</p>
                  <!-- opcional--><a class="button center" :href="'#' + mainmenu[2].href">Ver más</a>
                  <!-- opcional-->
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
      <main>
        <div class="comunicat main" :id="menuinicio[1].href">
          <div class="comunicat main__content_text center">
            <h2 class="main__title_2"> <span>Nosotros</span></h2>
            <p> <b>ComunicaT</b>, empresa de Comunicación integral y Organización de eventos y espectáculos culturales (Asesoramiento, diseño, planificación y producción)</p><a class="button--accent center flex--justify" href="javascript:void(0)" v-on:click="mostrarVue(true)" v-if="!nosotrosState"><span>Mostrar más &nbsp;&nbsp;</span><i class="icon-down"></i></a>
            <transition name="nosotros-content">
              <div class="main__content_full comunicat" v-if="nosotrosState">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, odio iste iusto minus sint optio nulla unde velit beatae dolorum, obcaecati non voluptatem eveniet. Maiores, accusantium! Officiis iusto ratione cumque!</p>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto ut aliquam libero accusantium repudiandae, quos voluptatum animi. Eligendi magni corporis tenetur at fugiat? Ab nulla distinctio obcaecati accusamus nesciunt architecto!</p>
                <ul>
                  <li>lorem</li>
                  <li>lorem</li>
                  <li>lorem</li>
                  <li>lorem</li>
                  <li>lorem</li>
                </ul><a class="button--accent center flex--justify" href="#nosotros" v-on:click="mostrarVue(false)"><span>Mostrar menos &nbsp;&nbsp;</span><i class="icon-up"></i></a>
              </div>
            </transition>
          </div>
          <hr/>
        </div>
      </main>
      <main>
        <div class="comunicat main">
          <div class="comunicat main__content_text">
            <h2 class="main__title_2"> <span>Servicios</span></h2>
            <p>Trabajamos con excelencia para mejorar los objetivos sociales, institucionales y comerciales de nuestros clientes a nivel local y nacional. Nos especializamos en:</p>
            <div class="col33 wow fadeInLeft" data-wow-duration="1.5s" data-wow-delay="0">
              <div class="card">
                <div class="card__title card__title_third" v-text="mainmenu[0].title"></div>
                <div class="card__img card__img_third"><img src="http://benditodilema.com/wp-content/uploads/2014/08/influencers-1021x1024.jpg"/></div>
                <div class="card__content">
                  <footer class="card__footer">
                    <div class="card__button"><a class="button--ghost--tertiary button--small" :href="'#' + mainmenu[0].href">Ver más</a></div>
                  </footer>
                </div>
              </div>
            </div>
            <div class="col33 wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="0">
              <div class="card">
                <div class="card__title card__title_first" v-text="mainmenu[1].title"></div>
                <div class="card__img card__img_first"><img src="images/eventos-corporativos.jpg"/></div>
                <div class="card__content">
                  <footer class="card__footer">
                    <div class="card__button"><a class="button--ghost--tertiary button--small" :href="'#' + mainmenu[1].href">Ver más</a></div>
                  </footer>
                </div>
              </div>
            </div>
            <div class="col33 wow fadeInRight" data-wow-duration="1.5s" data-wow-delay="0">
              <div class="card">
                <div class="card__title card__title_ghost--dark" v-text="mainmenu[2].title"></div>
                <div class="card__img"><img src="images/espectaculos.jpg"/></div>
                <div class="card__content">
                  <footer class="card__footer flex--center">
                    <div class="card__button"><a class="button--ghost--tertiary button--small" :href="'#' + mainmenu[2].href">Ver más</a></div>
                  </footer>
                </div>
              </div>
            </div>
          </div>
          <hr/>
        </div>
      </main>
      <main>
        <div class="comunicat main" :id="mainmenu[0].href">
          <div class="comunicat">
            <h2 class="main__title" v-text="mainmenu[0].title"></h2>
          </div>
          <div class="comunicat main__content"><a class="button--ghost--tertiary button--acordion" v-on:click="acordionVue(0,0)" :class="mainmenu[0].submenu[0].state ? 'button--acordion_active' : ''" href="#comunicacion-integral" v-text="mainmenu[0].submenu[0].title"></a>
            <transition name="acordion">
              <article class="comunicat article" v-show="mainmenu[0].submenu[0].state">
                <div class="article__content gallery">
                  <figure class="gallery__content"><img class="gallery__img" src="images/eventos-corporativos.jpg" alt=""/>
                    <figcaption>
                      <p class="gallery__title">Titulo</p><a class="gallery__link button--secondary" href="images/eventos-corporativos.jpg" data-caption="&lt;p&gt;PRUEBA DE TEXTO 1&lt;/p&gt;&lt;p&gt;PRUEBA DE TEXTO 1&lt;/p&gt;&lt;p&gt;PRUEBA DE TEXTO 1&lt;/p&gt;&lt;p&gt;PRUEBA DE TEXTO 1&lt;/p&gt;&lt;p&gt;PRUEBA DE TEXTO 1&lt;/p&gt;&lt;p&gt;PRUEBA DE TEXTO 1&lt;/p&gt;&lt;p&gt;PRUEBA DE TEXTO 1&lt;/p&gt;&lt;p&gt;PRUEBA DE TEXTO 1&lt;/p&gt;&lt;p&gt;PRUEBA DE TEXTO 1&lt;/p&gt;&lt;p&gt;PRUEBA DE TEXTO 1&lt;/p&gt;&lt;p&gt;PRUEBA DE TEXTO 1&lt;/p&gt;&lt;p&gt;PRUEBA DE TEXTO 1&lt;/p&gt;&lt;p&gt;PRUEBA DE TEXTO 1&lt;/p&gt;">Ver más</a>
                    </figcaption>
                  </figure>
                  <figure class="gallery__content"><img class="gallery__img" src="images/eventos-corporativos.jpg" alt=""/>
                    <figcaption>
                      <p class="gallery__title">Titulo</p><a class="gallery__link button--secondary" href="images/eventos-corporativos.jpg" data-caption="&lt;p&gt;PRUEBA DE TEXTO 1&lt;/p&gt;&lt;p&gt;PRUEBA DE TEXTO 1&lt;/p&gt;&lt;p&gt;PRUEBA DE TEXTO 1&lt;/p&gt;&lt;p&gt;PRUEBA DE TEXTO 1&lt;/p&gt;&lt;p&gt;PRUEBA DE TEXTO 1&lt;/p&gt;&lt;p&gt;PRUEBA DE TEXTO 1&lt;/p&gt;&lt;p&gt;PRUEBA DE TEXTO 1&lt;/p&gt;&lt;p&gt;PRUEBA DE TEXTO 1&lt;/p&gt;&lt;p&gt;PRUEBA DE TEXTO 1&lt;/p&gt;&lt;p&gt;PRUEBA DE TEXTO 1&lt;/p&gt;&lt;p&gt;PRUEBA DE TEXTO 1&lt;/p&gt;&lt;p&gt;PRUEBA DE TEXTO 1&lt;/p&gt;&lt;p&gt;PRUEBA DE TEXTO 1&lt;/p&gt;&lt;p&gt;PRUEBA DE TEXTO 2&lt;/p&gt;">Ver más</a>
                    </figcaption>
                  </figure>
                  <figure class="gallery__content"><img class="gallery__img" src="images/eventos-corporativos.jpg" alt=""/>
                    <figcaption>
                      <p class="gallery__title">Titulo</p><a class="gallery__link button--secondary" href="images/eventos-corporativos.jpg" data-caption="&lt;p&gt;PRUEBA DE TEXTO 1&lt;/p&gt;&lt;p&gt;PRUEBA DE TEXTO 1&lt;/p&gt;&lt;p&gt;PRUEBA DE TEXTO 1&lt;/p&gt;&lt;p&gt;PRUEBA DE TEXTO 1&lt;/p&gt;&lt;p&gt;PRUEBA DE TEXTO 1&lt;/p&gt;&lt;p&gt;PRUEBA DE TEXTO 1&lt;/p&gt;&lt;p&gt;PRUEBA DE TEXTO 1&lt;/p&gt;&lt;p&gt;PRUEBA DE TEXTO 1&lt;/p&gt;&lt;p&gt;PRUEBA DE TEXTO 1&lt;/p&gt;&lt;p&gt;PRUEBA DE TEXTO 1&lt;/p&gt;&lt;p&gt;PRUEBA DE TEXTO 1&lt;/p&gt;&lt;p&gt;PRUEBA DE TEXTO 1&lt;/p&gt;&lt;p&gt;PRUEBA DE TEXTO 1&lt;/p&gt;&lt;p&gt;PRUEBA DE TEXTO 3&lt;/p&gt;">Ver más</a>
                    </figcaption>
                  </figure>
                  <figure class="gallery__content"><img class="gallery__img" src="images/eventos-corporativos.jpg" alt=""/>
                    <figcaption>
                      <p class="gallery__title">Titulo</p><a class="gallery__link button--secondary" href="images/eventos-corporativos.jpg" data-caption="&lt;p&gt;PRUEBA DE TEXTO 1&lt;/p&gt;&lt;p&gt;PRUEBA DE TEXTO 1&lt;/p&gt;&lt;p&gt;PRUEBA DE TEXTO 1&lt;/p&gt;&lt;p&gt;PRUEBA DE TEXTO 1&lt;/p&gt;&lt;p&gt;PRUEBA DE TEXTO 1&lt;/p&gt;&lt;p&gt;PRUEBA DE TEXTO 1&lt;/p&gt;&lt;p&gt;PRUEBA DE TEXTO 1&lt;/p&gt;&lt;p&gt;PRUEBA DE TEXTO 1&lt;/p&gt;&lt;p&gt;PRUEBA DE TEXTO 1&lt;/p&gt;&lt;p&gt;PRUEBA DE TEXTO 1&lt;/p&gt;&lt;p&gt;PRUEBA DE TEXTO 1&lt;/p&gt;&lt;p&gt;PRUEBA DE TEXTO 1&lt;/p&gt;&lt;p&gt;PRUEBA DE TEXTO 1&lt;/p&gt;&lt;p&gt;PRUEBA DE TEXTO 4&lt;/p&gt;">Ver más</a>
                    </figcaption>
                  </figure>
                  <figure class="gallery__content"><img class="gallery__img" src="images/eventos-corporativos.jpg" alt=""/>
                    <figcaption>
                      <p class="gallery__title">Titulo</p><a class="gallery__link button--secondary" href="images/eventos-corporativos.jpg" data-caption="&lt;p&gt;PRUEBA DE TEXTO 1&lt;/p&gt;&lt;p&gt;PRUEBA DE TEXTO 1&lt;/p&gt;&lt;p&gt;PRUEBA DE TEXTO 1&lt;/p&gt;&lt;p&gt;PRUEBA DE TEXTO 1&lt;/p&gt;&lt;p&gt;PRUEBA DE TEXTO 1&lt;/p&gt;&lt;p&gt;PRUEBA DE TEXTO 1&lt;/p&gt;&lt;p&gt;PRUEBA DE TEXTO 1&lt;/p&gt;&lt;p&gt;PRUEBA DE TEXTO 1&lt;/p&gt;&lt;p&gt;PRUEBA DE TEXTO 1&lt;/p&gt;&lt;p&gt;PRUEBA DE TEXTO 1&lt;/p&gt;&lt;p&gt;PRUEBA DE TEXTO 1&lt;/p&gt;&lt;p&gt;PRUEBA DE TEXTO 1&lt;/p&gt;&lt;p&gt;PRUEBA DE TEXTO 1&lt;/p&gt;&lt;p&gt;PRUEBA DE TEXTO 5&lt;/p&gt;">Ver más</a>
                    </figcaption>
                  </figure>
                  <figure class="gallery__content"><img class="gallery__img" src="images/eventos-corporativos.jpg" alt=""/>
                    <figcaption>
                      <p class="gallery__title">Titulo</p><a class="gallery__link button--secondary" href="images/eventos-corporativos.jpg" data-caption="&lt;p&gt;PRUEBA DE TEXTO 1&lt;/p&gt;&lt;p&gt;PRUEBA DE TEXTO 1&lt;/p&gt;&lt;p&gt;PRUEBA DE TEXTO 1&lt;/p&gt;&lt;p&gt;PRUEBA DE TEXTO 1&lt;/p&gt;&lt;p&gt;PRUEBA DE TEXTO 1&lt;/p&gt;&lt;p&gt;PRUEBA DE TEXTO 1&lt;/p&gt;&lt;p&gt;PRUEBA DE TEXTO 1&lt;/p&gt;&lt;p&gt;PRUEBA DE TEXTO 1&lt;/p&gt;&lt;p&gt;PRUEBA DE TEXTO 1&lt;/p&gt;&lt;p&gt;PRUEBA DE TEXTO 1&lt;/p&gt;&lt;p&gt;PRUEBA DE TEXTO 1&lt;/p&gt;&lt;p&gt;PRUEBA DE TEXTO 1&lt;/p&gt;&lt;p&gt;PRUEBA DE TEXTO 1&lt;/p&gt;&lt;p&gt;PRUEBA DE TEXTO 6&lt;/p&gt;">Ver más</a>
                    </figcaption>
                  </figure>
                  <figure class="gallery__content"><img class="gallery__img" src="images/eventos-corporativos.jpg" alt=""/>
                    <figcaption>
                      <p class="gallery__title">Titulo</p><a class="gallery__link button--secondary" href="">Ver más</a>
                    </figcaption>
                  </figure>
                  <figure class="gallery__content"><img class="gallery__img" src="images/eventos-corporativos.jpg" alt=""/>
                    <figcaption>
                      <p class="gallery__title">Titulo</p><a class="gallery__link button--secondary" href="">Ver más</a>
                    </figcaption>
                  </figure>
                  <figure class="gallery__content"><img class="gallery__img" src="images/eventos-corporativos.jpg" alt=""/>
                    <figcaption>
                      <p class="gallery__title">Titulo</p><a class="gallery__link button--secondary" href="">Ver más</a>
                    </figcaption>
                  </figure>
                </div>
              </article>
            </transition><a class="button--ghost--tertiary button--acordion" v-on:click="acordionVue(1,0)" :class="mainmenu[0].submenu[1].state ? 'button--acordion_active' : ''" href="#comunicacion-integral" v-text="mainmenu[0].submenu[1].title"></a>
            <transition name="acordion">
              <article class="comunicat article" v-show="mainmenu[0].submenu[1].state">
                <div class="article__content">
                  <p>.......</p>
                </div>
              </article>
            </transition><a class="button--ghost--tertiary button--acordion" v-on:click="acordionVue(2,0)" :class="mainmenu[0].submenu[2].state ? 'button--acordion_active' : ''" href="#comunicacion-integral" v-text="mainmenu[0].submenu[2].title"></a>
            <transition name="acordion">
              <article class="comunicat article" v-show="mainmenu[0].submenu[2].state">
                <div class="article__content">
                  <p>.......</p>
                </div>
              </article>
            </transition><a class="button--ghost--tertiary button--acordion" v-on:click="acordionVue(3,0)" :class="mainmenu[0].submenu[3].state ? 'button--acordion_active' : ''" href="#comunicacion-integral" v-text="mainmenu[0].submenu[3].title"></a>
            <transition name="acordion">
              <article class="comunicat article" v-show="mainmenu[0].submenu[3].state">
                <div class="article__content">  
                  <p>.......</p>
                </div>
              </article>
            </transition>
          </div>
          <hr/>
        </div>
      </main>
      <main>
        <div class="comunicat main" :id="mainmenu[1].href">
          <div class="comunicat">
            <h2 class="main__title" v-text="mainmenu[1].title"></h2>
          </div>
          <div class="comunicat main__content"><a class="button--ghost--tertiary button--acordion" v-on:click="acordionVue(0,1)" :class="mainmenu[1].submenu[0].state ? 'button--acordion_active' : ''" href="#organizacion-de-eventos-corporativos" v-text="mainmenu[1].submenu[0].title"></a>
            <transition name="acordion">
              <article class="comunicat article" v-show="mainmenu[1].submenu[0].state">
                <div class="article__content">
                  <p>...</p>
                </div>
              </article>
            </transition><a class="button--ghost--tertiary button--acordion" v-on:click="acordionVue(1,1)" :class="mainmenu[1].submenu[1].state ? 'button--acordion_active' : ''" href="#organizacion-de-eventos-corporativos" v-text="mainmenu[1].submenu[1].title"></a>
            <transition name="acordion">
              <article class="comunicat article" v-show="mainmenu[1].submenu[1].state">
                <div class="article__content">
                  <p>...</p>
                </div>
              </article>
            </transition><a class="button--ghost--tertiary button--acordion" v-on:click="acordionVue(2,1)" :class="mainmenu[1].submenu[2].state ? 'button--acordion_active' : ''" href="#organizacion-de-eventos-corporativos" v-text="mainmenu[1].submenu[2].title"></a>
            <transition name="acordion">
              <article class="comunicat article" v-show="mainmenu[1].submenu[2].state">
                <div class="article__content">
                  <p>...</p>
                </div>
              </article>
            </transition><a class="button--ghost--tertiary button--acordion" v-on:click="acordionVue(3,1)" :class="mainmenu[1].submenu[3].state ? 'button--acordion_active' : ''" href="#organizacion-de-eventos-corporativos" v-text="mainmenu[1].submenu[3].title"></a>
            <transition name="acordion">
              <article class="comunicat article" v-show="mainmenu[1].submenu[3].state">
                <div class="article__content">
                  <p>...</p>
                </div>
              </article>
            </transition><a class="button--ghost--tertiary button--acordion" v-on:click="acordionVue(4,1)" :class="mainmenu[1].submenu[4].state ? 'button--acordion_active' : ''" href="#organizacion-de-eventos-corporativos" v-text="mainmenu[1].submenu[4].title"></a>
            <transition name="acordion">
              <article class="comunicat article" v-show="mainmenu[1].submenu[4].state">
                <div class="article__content">
                  <p>...</p>
                </div>
              </article>
            </transition><a class="button--ghost--tertiary button--acordion" v-on:click="acordionVue(5,1)" :class="mainmenu[1].submenu[5].state ? 'button--acordion_active' : ''" href="#organizacion-de-eventos-corporativos" v-text="mainmenu[1].submenu[5].title"></a>
            <transition name="acordion">
              <article class="comunicat article" v-show="mainmenu[1].submenu[5].state">
                <div class="article__content">
                  <p>...</p>
                </div>
              </article>
            </transition>
          </div>
          <hr/>
        </div>
      </main>
      <main>
        <div class="comunicat main" :id="mainmenu[2].href">
          <div class="comunicat">
            <h2 class="main__title" v-text="mainmenu[2].title"></h2>
          </div>
          <div class="comunicat main__content"><a class="button--ghost--tertiary button--acordion" v-on:click="acordionVue(0,2)" :class="mainmenu[2].submenu[0].state ? 'button--acordion_active' : ''" href="#organizacion-de-espectaculos" v-text="mainmenu[2].submenu[0].title"></a>
            <transition name="acordion">
              <article class="comunicat article" v-show="mainmenu[2].submenu[0].state">
                <div class="article__content gallery">
                  <div class="gallery__content"><a class="gallery__link mediabox" href="https://www.youtube.com/watch?v=zxRJOgxu6-U"><img class="gallery__img" :src="'https://img.youtube.com/vi/'+ idYoutube('https://www.youtube.com/watch?v=zxRJOgxu6-U') +'/sddefault.jpg'" alt=""/><span><i class="icon-play"></i></span></a>
                    <div>
                      <p class="gallery__title">Texto de imagen</p>
                    </div>
                  </div>
                  <div class="gallery__content"><a class="gallery__link mediabox" href="https://www.youtube.com/watch?v=AK_fsgjoVYk"><img class="gallery__img" :src="'https://img.youtube.com/vi/'+ idYoutube('https://www.youtube.com/watch?v=AK_fsgjoVYk') +'/sddefault.jpg'" alt=""/><span><i class="icon-play"></i></span></a>
                    <div> 
                      <p class="gallery__title">Texto de imagen</p>
                    </div>
                  </div>
                  <div class="gallery__content"><a class="gallery__link" href="images/eventos-corporativos.jpg" data-caption="&lt;p&gt;PRUEBA DE TEXTO 1&lt;/p&gt;&lt;p&gt;PRUEBA DE TEXTO 1&lt;/p&gt;"><img class="gallery__img" src="images/eventos-corporativos.jpg" alt=""/><span><i class="icon-zoom"></i></span></a>
                    <div>
                      <p class="gallery__title">Titulo</p>
                    </div>
                  </div>
                  <div class="gallery__content"><a class="gallery__link" href="javascript:void(0)"><img class="gallery__img" src="images/eventos-corporativos.jpg" alt=""/><span><i class="icon-pictures"></i></span></a>
                    <div>
                      <p class="gallery__title">Titulo</p><a class="gallery__link button--secondary" href="javascript:void(0)">Ver más</a>
                    </div>
                  </div>
                  <div class="gallery__content"><a class="gallery__link" href="images/eventos-corporativos.jpg" data-caption="&lt;p&gt;PRUEBA DE TEXTO 1&lt;/p&gt;"><img class="gallery__img" src="images/eventos-corporativos.jpg" alt=""/><span><i class="icon-zoom"></i></span></a>
                    <div>
                      <p class="gallery__title">Titulo</p>
                    </div>
                  </div>
                </div>
              </article>
            </transition><a class="button--ghost--tertiary button--acordion" v-on:click="acordionVue(1,2)" :class="mainmenu[2].submenu[1].state ? 'button--acordion_active' : ''" href="#organizacion-de-espectaculos" v-text="mainmenu[2].submenu[1].title"></a>
            <transition name="acordion">
              <article class="comunicat article" v-show="mainmenu[2].submenu[1].state">
                <div class="article__content">
                  <p>...</p>
                </div>
              </article>
            </transition><a class="button--ghost--tertiary button--acordion" v-on:click="acordionVue(2,2)" :class="mainmenu[2].submenu[2].state ? 'button--acordion_active' : ''" href="#organizacion-de-espectaculos" v-text="mainmenu[2].submenu[2].title"></a>
            <transition name="acordion">
              <article class="comunicat article" v-show="mainmenu[2].submenu[2].state">
                <div class="article__content">
                  <p>...</p>
                </div>
              </article>
            </transition><a class="button--ghost--tertiary button--acordion" v-on:click="acordionVue(3,2)" :class="mainmenu[2].submenu[3].state ? 'button--acordion_active' : ''" href="#organizacion-de-espectaculos" v-text="mainmenu[2].submenu[3].title"></a>
            <transition name="acordion">
              <article class="comunicat article" v-show="mainmenu[2].submenu[3].state">
                <div class="article__content">
                  <p>...</p>
                </div>
              </article>
            </transition><a class="button--ghost--tertiary button--acordion" v-on:click="acordionVue(4,2)" :class="mainmenu[2].submenu[4].state ? 'button--acordion_active' : ''" href="#organizacion-de-espectaculos" v-text="mainmenu[2].submenu[4].title"></a>
            <transition name="acordion">
              <article class="comunicat article" v-show="mainmenu[2].submenu[4].state">
                <div class="article__content">
                  <p>...</p>
                </div>
              </article>
            </transition><a class="button--ghost--tertiary button--acordion" v-on:click="acordionVue(5,2)" :class="mainmenu[2].submenu[5].state ? 'button--acordion_active' : ''" href="#organizacion-de-espectaculos" v-text="mainmenu[2].submenu[5].title"></a>
            <transition name="acordion">
              <article class="comunicat article" v-show="mainmenu[2].submenu[5].state">
                <div class="article__content">
                  <p>...</p>
                </div>
              </article>
            </transition><a class="button--ghost--tertiary button--acordion" v-on:click="acordionVue(6,2)" :class="mainmenu[2].submenu[6].state ? 'button--acordion_active' : ''" href="#organizacion-de-espectaculos" v-text="mainmenu[2].submenu[6].title"></a>
            <transition name="acordion">
              <article class="comunicat article" v-show="mainmenu[2].submenu[6].state">
                <div class="article__content">
                  <p>...</p>
                </div>
              </article>
            </transition><a class="button--ghost--tertiary button--acordion" v-on:click="acordionVue(7,2)" :class="mainmenu[2].submenu[7].state ? 'button--acordion_active' : ''" href="#organizacion-de-espectaculos" v-text="mainmenu[2].submenu[7].title"></a>
            <transition name="acordion">
              <article class="comunicat article" v-show="mainmenu[2].submenu[7].state">
                <div class="article__content">
                  <p>...</p>
                </div>
              </article>
            </transition><a class="button--ghost--tertiary button--acordion" v-on:click="acordionVue(8,2)" :class="mainmenu[2].submenu[8].state ? 'button--acordion_active' : ''" href="#organizacion-de-espectaculos" v-text="mainmenu[2].submenu[8].title"></a>
            <transition name="acordion">
              <article class="comunicat article" v-show="mainmenu[2].submenu[8].state">
                <div class="article__content">
                  <p>...</p>
                </div>
              </article>
            </transition>
          </div>
        </div>
      </main>
      <main class="main main--first" :id="menuinicio[2].href">
        <div class="comunicat form">
          <h2>Contáctenos</h2>
        </div>
        <form class="comunicat form" v-on:submit.prevent="submitForm">
          <div class="col30 wow fadeInRight" data-wow-duration="1.5s" data-wow-delay="0">
            <div class="item">
              <label class="form__label" for="">Nombre completo: </label>
              <input class="form__input" v-model="vue.nombre" type="text" required=""/>
            </div>
            <div class="item">
              <label class="form__label" for="">Teléfono: </label>
              <input class="form__input" v-model="vue.telefono" type="number"/>
            </div>
            <div class="item">
              <label class="form__label" for="">Celular: </label>
              <input class="form__input" v-model="vue.movil" type="number" required=""/>
            </div>
            <div class="item">
              <label class="form__label" for="">Dirección: </label>
              <input class="form__input" v-model="vue.direccion" type="text" required=""/>
            </div>
            <div class="item">
              <label class="form__label" for="">Ciudad: </label>
              <input class="form__input" v-model="vue.ciudad" type="text" required=""/>
            </div>
          </div>
          <div class="col30 wow fadeInLeft" data-wow-duration="1.5s" data-wow-delay="0">
            <div class="item">
              <label class="form__label" for="">Email: </label>
              <input class="form__input" v-model="vue.email" type="email" required=""/>
            </div>
            <div class="item">
              <label class="form__label" for="">Mensaje: </label>
              <textarea class="form__input" v-model="vue.mensaje" name="" cols="30" rows="10" required=""> </textarea>
            </div>
            <div class="form_buttons flex--center"> 
              <button class="button--ghost--secondary" type="submit">Enviar</button>
              <button class="button--ghost--secondary" v-on:click="clearForm()">Limpiar</button>
            </div>
            <div class="statusMessage" v-if="formSubmitted">
              <h4 v-text="vue.envio"></h4>
            </div>
          </div>
        </form>
        <div class="comunicat flex--center">
          <div class="col100 flex--center">
            <p> <b>COMUNICAT BOLIVIA: </b>La Paz, Z. Los Pinos, calle 25</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
            <p> <b>Telf: </b>2772966, &nbsp;<b>Cel:</b>&nbsp;&nbsp;<span class="whatsapp">78977722</span></p>
          </div>
        </div>
      </main>
      <footer class="footer">
        <div class="comunicat footer__content">
          <div class="footer__item">
            <p> </p>Todos los Derechos Reservados ®
            	&nbsp;&nbsp;COMUNICAT ©<span id="currentDate"> </span>
          </div>
          <div class="footer__item"><a class="ah" href="//ahpublic.com" target="_blank">Diseño y Programación: AH! PUBLICIDAD</a></div>
        </div>
      </footer>
    </div>
    <script src="js/scripts.js?v1.0.5"></script>
  </body>
</html>