<!DOCTYPE html>
<html lang="es" prefix="og: http://ogp.me/ns#">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>ComunícaT | Comunicación integral, organización de eventos corporativos y espectáculos </title>
    <meta name="designer" content="Fernando Javier Averanga Aruquipa / nandes.ingsistemas@gmail.com"/>
    <meta name="description" content="Estrategias de comunicación, diseño gráfico, producción audiovisual. Planificación de eventos, lanzamientos, convenciones, seminarios, talleres, presentaciones, inauguraciones, ferias, exposiciones y show romos. Organización de almuerzos, cenas, vinos de honor. Asesoramiento de eventos culturales. Producción de espectáculos y shows artísticos"/>
    <meta property="og:title" content="ComunícaT | Comunicación integral, organización de eventos corporativos y espectáculos"/>
    <meta property="og:description" content="Estrategías de comunicación, diseño gráfico, producción audiovisual. Planificación de eventos, lanzamientos, convenciones, seminarios, talleres, presentaciones, inauguraciones, ferias, exposiciones y show romos. Organización de almuerzos, cenas, vinos de honor. Asesoramiento de eventos culturales. Producción de espectáculos y shows artísticos"/>
    <meta name="author" content="Lic. Sandra Delgadillo Pacheco | Directora General"/>
    <meta name="keywords" content=""/>
    <link rel="stylesheet" href="css/styles.css?v1.0.5"/>
  </head>
  <body>
    <div class="poppup_slider" id="comunicat">
      <header class="header" id="header">
        <nav class="header__top"></nav>
        <nav>
          <div class="header__content comunicat">
            <div class="header__logo"><img src="images/comunicaT.png" alt=""/></div>
            <div class="header__menu_movil">
              <ul class="header__social_movil social">
                <li class="header__social_item social__icon"><a class="header__social_link" href="" target="_black"><i class="icon-facebook"> </i></a></li>
                <li class="header__social_item social__icon"><a class="header__social_link" href="" target="_black"><i class="icon-youtube"></i></a></li>
                <li class="header__social_item social__icon"><a class="header__social_link" href="" target="_black"><i class="icon-twitter"></i></a></li>
              </ul><a class="button full button--movil" href="javascript:void(0)" @click="toggleMenu()">MENÚ</a>
            </div>
            <div class="header__menu" :class="toggle ? 'header__menu_toggle' : ''">
              <ul class="header__social social">
                <li class="header__social_item social__icon"><a class="header__social_link" href="" target="_black"><i class="icon-facebook"> </i></a></li>
                <li class="header__social_item social__icon"><a class="header__social_link" href="" target="_black"><i class="icon-youtube"></i></a></li>
                <li class="header__social_item social__icon"><a class="header__social_link" href="" target="_black"><i class="icon-twitter"></i></a></li>
              </ul>
              <div class="header__inicio"><a class="button--ghost" v-for="item in menuinicio" v-text="item.title" :href="baseUrl + '#' + item.href" @click="toggle = false"></a></div>
              <div class="header__list"><a :class="'button' + item.color" v-for="item in mainmenu" :href="baseUrl + '#' + item.href" v-text="item.title" @click="toggle = false"> </a></div>
            </div>
          </div>
        </nav>
      </header>
      <div class="comunicat">
        <h2>BOTONES</h2>
        <div class="show-buttons comunicat"><a class="button center">class="button center"</a><a class="button full">class="button full"</a><a class="button">class="button"</a><a class="button--secondary">class="button--secondary"</a><a class="button--tertiary">class="button--tertiary"</a><a class="button--accent">class="button--accent"</a><a class="button--dark">class="button--dark"</a><a class="button--ghost">class="button--ghost"</a><a class="button--ghost--secondary">class="button--ghost--secondary"</a><a class="button--ghost--tertiary">class="button--ghost--tertiary"</a><a class="button--ghost--accent">class="button--ghost--accent"</a><a class="button--ghost--dark">class="button--ghost--dark"</a></div>
      </div>
      <div class="comunicat">
        <h2>Tabla predeterminanda</h2>
        <div class="table-container">
          <table>
            <tbody>
              <tr></tr>
              <th></th>
              <th>Enero</th>
              <th>Febrero</th>
              <th>Marzo</th>
              <th>Abril</th>
              <th>Mayo</th>
              <th>Junio</th>
              <th>Julio</th>
              <th>Agosto</th>
              <th>Setiembre</th>
              <th>Octubre</th>
              <th>Noviembre</th>
              <th>Diciembre</th>
              <tr></tr>
              <td>Ventas</td>
              <td>10045</td>
              <td>20090</td>
              <td>30135</td>
              <td>40180</td>
              <td>50225</td>
              <td>60270</td>
              <td>70315</td>
              <td>80360</td>
              <td>90405</td>
              <td>100450</td>
              <td>110495</td>
              <td>120540</td>
              <tr></tr>
              <td>Gastos</td>
              <td>2761</td>
              <td>5522</td>
              <td>8283</td>
              <td>11044</td>
              <td>13805</td>
              <td>16566</td>
              <td>19327</td>
              <td>22088</td>
              <td>24849</td>
              <td>27610</td>
              <td>30371</td>
              <td>33132</td>
              <tr></tr>
              <td>Impuestos</td>
              <td>976</td>
              <td>1952</td>
              <td>2928</td>
              <td>3904</td>
              <td>4880</td>
              <td>5856</td>
              <td>6832</td>
              <td>7808</td>
              <td>8784</td>
              <td>9760</td>
              <td>10736</td>
              <td>11712</td>
              <tr></tr>
              <td>Ventas</td>
              <td>10045</td>
              <td>20090</td>
              <td>30135</td>
              <td>40180</td>
              <td>50225</td>
              <td>60270</td>
              <td>70315</td>
              <td>80360</td>
              <td>90405</td>
              <td>100450</td>
              <td>110495</td>
              <td>120540</td>
              <tr></tr>
              <td>Gastos</td>
              <td>2761</td>
              <td>5522</td>
              <td>8283</td>
              <td>11044</td>
              <td>13805</td>
              <td>16566</td>
              <td>19327</td>
              <td>22088</td>
              <td>24849</td>
              <td>27610</td>
              <td>30371</td>
              <td>33132</td>
              <tr></tr>
              <td>Impuestos</td>
              <td>976</td>
              <td>1952</td>
              <td>2928</td>
              <td>3904</td>
              <td>4880</td>
              <td>5856</td>
              <td>6832</td>
              <td>7808</td>
              <td>8784</td>
              <td>9760</td>
              <td>10736</td>
              <td>11712</td>
            </tbody>
          </table>
        </div>
        <h2>Tabla secundaria            </h2>
        <div class="table-container table--secondary">
          <table>
            <tbody></tbody>
            <tr>
              <th></th>
              <th>Enero</th>
              <th>Febrero</th>
              <th>Marzo</th>
              <th>Abril</th>
              <th>Mayo</th>
              <th>Junio</th>
              <th>Julio</th>
              <th>Agosto</th>
              <th>Setiembre</th>
              <th>Octubre</th>
              <th>Noviembre</th>
              <th>Diciembre</th>
            </tr>
            <tr>
              <td>Ventas</td>
              <td>10045</td>
              <td>20090</td>
              <td>30135</td>
              <td>40180</td>
              <td>50225</td>
              <td>60270</td>
              <td>70315</td>
              <td>80360</td>
              <td>90405</td>
              <td>100450</td>
              <td>110495</td>
              <td>120540</td>
            </tr>
            <tr>
              <td>Gastos</td>
              <td>2761</td>
              <td>5522</td>
              <td>8283</td>
              <td>11044</td>
              <td>13805</td>
              <td>16566</td>
              <td>19327</td>
              <td>22088</td>
              <td>24849</td>
              <td>27610</td>
              <td>30371</td>
              <td>33132</td>
            </tr>
            <tr>
              <td>Impuestos</td>
              <td>976</td>
              <td>1952</td>
              <td>2928</td>
              <td>3904</td>
              <td>4880</td>
              <td>5856</td>
              <td>6832</td>
              <td>7808</td>
              <td>8784</td>
              <td>9760</td>
              <td>10736</td>
              <td>11712</td>
            </tr>
            <tr>
              <td>Ventas</td>
              <td>10045</td>
              <td>20090</td>
              <td>30135</td>
              <td>40180</td>
              <td>50225</td>
              <td>60270</td>
              <td>70315</td>
              <td>80360</td>
              <td>90405</td>
              <td>100450</td>
              <td>110495</td>
              <td>120540</td>
            </tr>
            <tr>
              <td>Gastos</td>
              <td>2761</td>
              <td>5522</td>
              <td>8283</td>
              <td>11044</td>
              <td>13805</td>
              <td>16566</td>
              <td>19327</td>
              <td>22088</td>
              <td>24849</td>
              <td>27610</td>
              <td>30371</td>
              <td>33132</td>
            </tr>
            <tr>
              <td>Impuestos</td>
              <td>976</td>
              <td>1952</td>
              <td>2928</td>
              <td>3904</td>
              <td>4880</td>
              <td>5856</td>
              <td>6832</td>
              <td>7808</td>
              <td>8784</td>
              <td>9760</td>
              <td>10736</td>
              <td>11712</td>
            </tr>
          </table>
        </div>
        <h2>Tabla con enfasis          </h2>
        <div class="table-container table--accent first-column">
          <table>
            <tbody></tbody>
            <tr>
              <th></th>
              <th>Enero</th>
              <th>Febrero</th>
              <th>Marzo</th>
              <th>Abril</th>
              <th>Mayo</th>
              <th>Junio</th>
              <th>Julio</th>
              <th>Agosto</th>
              <th>Setiembre</th>
              <th>Octubre</th>
              <th>Noviembre</th>
              <th>Diciembre</th>
            </tr>
            <tr>
              <td>Ventas</td>
              <td>10045</td>
              <td>20090</td>
              <td>30135</td>
              <td>40180</td>
              <td>50225</td>
              <td>60270</td>
              <td>70315</td>
              <td>80360</td>
              <td>90405</td>
              <td>100450</td>
              <td>110495</td>
              <td>120540</td>
            </tr>
            <tr>
              <td>Gastos</td>
              <td>2761</td>
              <td>5522</td>
              <td>8283</td>
              <td>11044</td>
              <td>13805</td>
              <td>16566</td>
              <td>19327</td>
              <td>22088</td>
              <td>24849</td>
              <td>27610</td>
              <td>30371</td>
              <td>33132</td>
            </tr>
            <tr>
              <td>Impuestos</td>
              <td>976</td>
              <td>1952</td>
              <td>2928</td>
              <td>3904</td>
              <td>4880</td>
              <td>5856</td>
              <td>6832</td>
              <td>7808</td>
              <td>8784</td>
              <td>9760</td>
              <td>10736</td>
              <td>11712</td>
            </tr>
            <tr>
              <td>Ventas</td>
              <td>10045</td>
              <td>20090</td>
              <td>30135</td>
              <td>40180</td>
              <td>50225</td>
              <td>60270</td>
              <td>70315</td>
              <td>80360</td>
              <td>90405</td>
              <td>100450</td>
              <td>110495</td>
              <td>120540</td>
            </tr>
            <tr>
              <td>Gastos</td>
              <td>2761</td>
              <td>5522</td>
              <td>8283</td>
              <td>11044</td>
              <td>13805</td>
              <td>16566</td>
              <td>19327</td>
              <td>22088</td>
              <td>24849</td>
              <td>27610</td>
              <td>30371</td>
              <td>33132</td>
            </tr>
            <tr>
              <td>Impuestos</td>
              <td>976</td>
              <td>1952</td>
              <td>2928</td>
              <td>3904</td>
              <td>4880</td>
              <td>5856</td>
              <td>6832</td>
              <td>7808</td>
              <td>8784</td>
              <td>9760</td>
              <td>10736</td>
              <td>11712</td>
            </tr>
          </table>
        </div>
        <h2>Tabla oscura          </h2>
        <div class="table-container table--dark first-column">
          <table>
            <tbody></tbody>
            <tr>
              <th></th>
              <th>Enero</th>
              <th>Febrero</th>
              <th>Marzo</th>
              <th>Abril</th>
              <th>Mayo</th>
              <th>Junio</th>
              <th>Julio</th>
              <th>Agosto</th>
              <th>Setiembre</th>
              <th>Octubre</th>
              <th>Noviembre</th>
              <th>Diciembre</th>
            </tr>
            <tr>
              <td>Ventas</td>
              <td>10045</td>
              <td>20090</td>
              <td>30135</td>
              <td>40180</td>
              <td>50225</td>
              <td>60270</td>
              <td>70315</td>
              <td>80360</td>
              <td>90405</td>
              <td>100450</td>
              <td>110495</td>
              <td>120540</td>
            </tr>
            <tr>
              <td>Gastos</td>
              <td>2761</td>
              <td>5522</td>
              <td>8283</td>
              <td>11044</td>
              <td>13805</td>
              <td>16566</td>
              <td>19327</td>
              <td>22088</td>
              <td>24849</td>
              <td>27610</td>
              <td>30371</td>
              <td>33132</td>
            </tr>
            <tr>
              <td>Impuestos</td>
              <td>976</td>
              <td>1952</td>
              <td>2928</td>
              <td>3904</td>
              <td>4880</td>
              <td>5856</td>
              <td>6832</td>
              <td>7808</td>
              <td>8784</td>
              <td>9760</td>
              <td>10736</td>
              <td>11712</td>
            </tr>
            <tr>
              <td>Ventas</td>
              <td>10045</td>
              <td>20090</td>
              <td>30135</td>
              <td>40180</td>
              <td>50225</td>
              <td>60270</td>
              <td>70315</td>
              <td>80360</td>
              <td>90405</td>
              <td>100450</td>
              <td>110495</td>
              <td>120540</td>
            </tr>
            <tr>
              <td>Gastos</td>
              <td>2761</td>
              <td>5522</td>
              <td>8283</td>
              <td>11044</td>
              <td>13805</td>
              <td>16566</td>
              <td>19327</td>
              <td>22088</td>
              <td>24849</td>
              <td>27610</td>
              <td>30371</td>
              <td>33132</td>
            </tr>
            <tr>
              <td>Impuestos</td>
              <td>976</td>
              <td>1952</td>
              <td>2928</td>
              <td>3904</td>
              <td>4880</td>
              <td>5856</td>
              <td>6832</td>
              <td>7808</td>
              <td>8784</td>
              <td>9760</td>
              <td>10736</td>
              <td>11712</td>
            </tr>
          </table>
        </div>
        <h2>Tabla first-column          </h2>
        <div class="table-container first-column">
          <table>
            <tbody></tbody>
            <tr>
              <th></th>
              <th>Enero</th>
              <th>Febrero</th>
              <th>Marzo</th>
              <th>Abril</th>
              <th>Mayo</th>
              <th>Junio</th>
              <th>Julio</th>
              <th>Agosto</th>
              <th>Setiembre</th>
              <th>Octubre</th>
              <th>Noviembre</th>
              <th>Diciembre</th>
            </tr>
            <tr>
              <td>Ventas</td>
              <td>10045</td>
              <td>20090</td>
              <td>30135</td>
              <td>40180</td>
              <td>50225</td>
              <td>60270</td>
              <td>70315</td>
              <td>80360</td>
              <td>90405</td>
              <td>100450</td>
              <td>110495</td>
              <td>120540</td>
            </tr>
            <tr>
              <td>Gastos</td>
              <td>2761</td>
              <td>5522</td>
              <td>8283</td>
              <td>11044</td>
              <td>13805</td>
              <td>16566</td>
              <td>19327</td>
              <td>22088</td>
              <td>24849</td>
              <td>27610</td>
              <td>30371</td>
              <td>33132</td>
            </tr>
            <tr>
              <td>Impuestos</td>
              <td>976</td>
              <td>1952</td>
              <td>2928</td>
              <td>3904</td>
              <td>4880</td>
              <td>5856</td>
              <td>6832</td>
              <td>7808</td>
              <td>8784</td>
              <td>9760</td>
              <td>10736</td>
              <td>11712</td>
            </tr>
            <tr>
              <td>Ventas</td>
              <td>10045</td>
              <td>20090</td>
              <td>30135</td>
              <td>40180</td>
              <td>50225</td>
              <td>60270</td>
              <td>70315</td>
              <td>80360</td>
              <td>90405</td>
              <td>100450</td>
              <td>110495</td>
              <td>120540</td>
            </tr>
            <tr>
              <td>Gastos</td>
              <td>2761</td>
              <td>5522</td>
              <td>8283</td>
              <td>11044</td>
              <td>13805</td>
              <td>16566</td>
              <td>19327</td>
              <td>22088</td>
              <td>24849</td>
              <td>27610</td>
              <td>30371</td>
              <td>33132</td>
            </tr>
            <tr>
              <td>Impuestos</td>
              <td>976</td>
              <td>1952</td>
              <td>2928</td>
              <td>3904</td>
              <td>4880</td>
              <td>5856</td>
              <td>6832</td>
              <td>7808</td>
              <td>8784</td>
              <td>9760</td>
              <td>10736</td>
              <td>11712</td>
            </tr>
          </table>
        </div>
        <p class="strong">Listas de características</p>
        <div class="feature-list">
          <ul>
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean egestas feugiat dolor. Quisque eget eros quis neque egestas ultricies. Aliquam porttitor metus ut egestas consequat. Nullam vel dui in justo scelerisque egestas. Cras non facilisis justo. Nunc in faucibus risus. Pellentesque felis diam, condimentum vitae mattis ut, sollicitudin a libero. Pellentesque malesuada pharetra justo, nec fringilla tortor adipiscing at. Maecenas accumsan, enim id mattis blandit, urna enim bibendum est, at volutpat massa neque vitae libero. Phasellus cursus leo hendrerit neque consequat gravida.</li>
            <li>Item list 2</li>
            <li>Item list 3</li>
            <li>Item list 4</li>
            <li>Item list 5</li>
          </ul>
        </div>
        <h2 class="item">Lista de datos </h2>
        <ul class="item data-list">
          <li>
            <p class="strong">Dominios permitidos</p>
            <p>10 dominios .com</p>
          </li>
          <li>
            <p class="strong">Ventas acumuladas en 2017</p>
            <p>$ 1 786 000 000</p>
          </li>
          <li>
            <p class="strong">Mostrar un botón</p><a class="button--accent small" href="#">Inscribete ahora</a>
          </li>
        </ul>
        <form>
          <div class="comunicat">
            <div class="item form__item"></div>
            <label>Nombre de usuario</label>
            <input/>
            <div class="item form__item"></div>
            <label>Su contraseña</label>
            <input/>
            <div class="item form__item"></div>
            <p class="small">Ejemplos de checkbox</p>
            <label>
              <input type="checkbox"/>Elige esta opcion
            </label>
            <label>
              <input type="checkbox"/>Elige esta opcion
            </label>
            <div class="item form__item"></div>
            <p class="small">Ejemplos de radio buttons</p>
            <label>
              <input type="radio" name="radio"/>Elige esta otra opcion
            </label>
            <label>
              <input type="radio" name="radio"/>Elige esta otra opcion
            </label>
            <div class="item form__item"></div>
            <label>Selecciona tu país</label>
            <select>
              <option>Colombia</option>
              <option>Bolivia</option>
              <option>Argentina</option>
              <option>Perú</option>
              <option>México</option>
            </select>
            <div class="item form__item"></div>
            <textarea placeholder="Escriba su mensaje"></textarea>
            <div class="item form__item"></div>
            <input class="button full small" type="submit" value="Enviar"/>
          </div>
        </form><br/>
        <h2 class="item">CARDS TARJETAS</h2><br/>
        <div class="col50">
          <div class="card">
            <div class="card__img"><img src="images/banner.jpg"/></div>
            <div class="card__content">
              <div class="card__title">Título de la tarjeta</div>
              <div class="card__subtitle">
                <p>Subtitulo de la tarjeta</p>
              </div>
              <div class="card__body">
                <p>Este el contenido de la tarjeta en caso lo requiera. Algunas tarjetas (...).</p>
              </div>
              <footer class="card__footer">
                <div class="card__user">
                  <div class="card__user-img"><img src="usuario.jpg"/></div>
                  <div class="card__user-name"><a href="#">Alexys Lozada</a></div>
                </div>
                <div class="card__button"><a class="button--ghost--tertiary button--small" href="#">Etiqueta</a></div>
              </footer>
            </div>
          </div>
        </div>
        <div class="col50">
          <div class="card">
            <div class="card__img"><img src="images/banner.jpg"/></div>
            <div class="card__content">
              <div class="card__title">Título de la tarjeta</div>
              <div class="card__subtitle">
                <p>Subtitulo de la tarjeta</p>
              </div>
              <div class="card__body">
                <p>Este el contenido de la tarjeta en caso lo requiera. Algunas tarjetas (...).</p>
              </div>
              <footer class="card__footer">
                <div class="card__user">
                  <div class="card__user-img"><img src="usuario.jpg"/></div>
                  <div class="card__user-name"><a href="#">Alexys Lozada</a></div>
                </div>
                <div class="card__button"><a class="button--ghost--tertiary button--small" href="#">Etiqueta</a></div>
              </footer>
            </div>
          </div>
        </div>
      </div>
      <main class="main main--first" :id="menuinicio[2].href">
        <div class="comunicat form">
          <h2>Contáctenos</h2>
        </div>
        <form class="comunicat form" v-on:submit.prevent="submitForm">
          <div class="col30 wow fadeInRight" data-wow-duration="1.5s" data-wow-delay="0">
            <div class="item">
              <label class="form__label" for="">Nombre completo: </label>
              <input class="form__input" v-model="vue.nombre" type="text" required=""/>
            </div>
            <div class="item">
              <label class="form__label" for="">Teléfono: </label>
              <input class="form__input" v-model="vue.telefono" type="number"/>
            </div>
            <div class="item">
              <label class="form__label" for="">Celular: </label>
              <input class="form__input" v-model="vue.movil" type="number" required=""/>
            </div>
            <div class="item">
              <label class="form__label" for="">Dirección: </label>
              <input class="form__input" v-model="vue.direccion" type="text" required=""/>
            </div>
            <div class="item">
              <label class="form__label" for="">Ciudad: </label>
              <input class="form__input" v-model="vue.ciudad" type="text" required=""/>
            </div>
          </div>
          <div class="col30 wow fadeInLeft" data-wow-duration="1.5s" data-wow-delay="0">
            <div class="item">
              <label class="form__label" for="">Email: </label>
              <input class="form__input" v-model="vue.email" type="email" required=""/>
            </div>
            <div class="item">
              <label class="form__label" for="">Mensaje: </label>
              <textarea class="form__input" v-model="vue.mensaje" name="" cols="30" rows="10" required=""> </textarea>
            </div>
            <div class="form_buttons flex--center"> 
              <button class="button--ghost--secondary" type="submit">Enviar</button>
              <button class="button--ghost--secondary" v-on:click="clearForm()">Limpiar</button>
            </div>
            <div class="statusMessage" v-if="formSubmitted">
              <h4 v-text="vue.envio"></h4>
            </div>
          </div>
        </form>
        <div class="comunicat flex--center">
          <div class="col100 flex--center">
            <p> <b>COMUNICAT BOLIVIA: </b>La Paz, Z. Los Pinos, calle 25</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
            <p> <b>Telf: </b>2772966, &nbsp;<b>Cel:</b>&nbsp;&nbsp;<span class="whatsapp">78977722</span></p>
          </div>
        </div>
      </main>
      <footer class="footer">
        <div class="comunicat footer__content">
          <div class="footer__item">
            <p> </p>Todos los Derechos Reservados ®
            	&nbsp;&nbsp;COMUNICAT ©<span id="currentDate"> </span>
          </div>
          <div class="footer__item"><a class="ah" href="//ahpublic.com" target="_blank">Diseño y Programación: AH! PUBLICIDAD</a></div>
        </div>
      </footer>
    </div>
    <script src="js/scripts.js?v1.0.5"></script>
  </body>
</html>