// Aplicar tamaños de fuente
body {
  @include font-base;
  font-family : $body-font;
  font-weight : 400;
  line-height : 1.6;
  color       : $textColor;
}

h1, h2, h3, h4, h5, h6 {
  font-family    : $heading-font;
  font-weight    : 700;
  letter-spacing : -0.01em;
  line-height    :  1.3;
}

// classes for font-family
.body-font { font-family : $body-font }
.heading-font { font-family : $heading-font }

// Set font sizes
h1, .t1      { @include t1 }
h2, .t2      { @include t2 }
h3, .t3      { @include t3 }
h4           { font-size : fontSize(normal) }
h5, .small   { font-size : fontSize(small) }
h6, .smaller { font-size : fontSize(smaller) }


// Vertical rythm
h1, .t1 {
  margin-top    : 0;
  margin-bottom : rem(32px);
}

h2, .t2 {
  margin-top    : rem(64px);
  margin-bottom : rem(16px);
}

h3, .t3 {
  margin-top    : rem(48px);
  margin-bottom : rem(16px);
}

h4, h5, h6 {
  margin-top : rem(32px);
  margin-bottom : rem(8px);
}

p, iframe, video, figure, blockquote {
  margin-top : 0;
  margin-bottom : rem(32px);
}

p.small, p.smaller { margin-bottom : rem(16px) }

h1, .t1 {
  + .subtitle {
    font-size     : fontSize(normal);
    margin-top    : -1.5rem;
    margin-bottom : 2rem;
    text-shadow: 0 1px 2px #616161;
  }
}

// Blockquote
blockquote {
  @include t3;
  font-style     : italic;
  letter-spacing : .01em;
  margin-left    : rem(64px);
  position       : relative;
  opacity        : .9;

  &::before {
    content        : "\201C";
    font-family    : Georgia, serif;
    font-size      : 3em;
    position       : absolute;
    top            : .5em;
    left           : -.6em;
    line-height    : 0;
    letter-spacing : -0.5em;
  }
}

// Enlaces
// Menu links doesn't have underline
a {
  color : $secondColor;

  main & {
    text-decoration : none;

    &:hover {
      text-decoration : underline;
    }
  }
}

::selection {
  background : $secondColor;
  color      : #FFF;
}