.comunicat
  h2.main__title(v-text="mainmenu[0].title")
.comunicat.main__content
  a.button--ghost--tertiary.button--acordion(v-on:click = "acordionVue(0,0)", :class="mainmenu[0].submenu[0].state ? 'button--acordion_active' : ''" ,href="#comunicacion-integral", v-text="mainmenu[0].submenu[0].title")
  transition(name="acordion")
    article.comunicat.article(v-show="mainmenu[0].submenu[0].state")
      .article__content.gallery
        figure.gallery__content
          img.gallery__img(src="images/eventos-corporativos.jpg", alt="")
          figcaption
            p.gallery__title Titulo
            a.gallery__link(href="images/eventos-corporativos.jpg", data-caption="<p>PRUEBA DE TEXTO 1</p><p>PRUEBA DE TEXTO 1</p><p>PRUEBA DE TEXTO 1</p><p>PRUEBA DE TEXTO 1</p><p>PRUEBA DE TEXTO 1</p><p>PRUEBA DE TEXTO 1</p><p>PRUEBA DE TEXTO 1</p><p>PRUEBA DE TEXTO 1</p><p>PRUEBA DE TEXTO 1</p><p>PRUEBA DE TEXTO 1</p><p>PRUEBA DE TEXTO 1</p><p>PRUEBA DE TEXTO 1</p><p>PRUEBA DE TEXTO 1</p>").button--secondary Ver más
        figure.gallery__content
          img.gallery__img(src="images/eventos-corporativos.jpg", alt="")
          figcaption
            p.gallery__title Titulo
            a.gallery__link(href="images/eventos-corporativos.jpg", data-caption="<p>PRUEBA DE TEXTO 1</p><p>PRUEBA DE TEXTO 1</p><p>PRUEBA DE TEXTO 1</p><p>PRUEBA DE TEXTO 1</p><p>PRUEBA DE TEXTO 1</p><p>PRUEBA DE TEXTO 1</p><p>PRUEBA DE TEXTO 1</p><p>PRUEBA DE TEXTO 1</p><p>PRUEBA DE TEXTO 1</p><p>PRUEBA DE TEXTO 1</p><p>PRUEBA DE TEXTO 1</p><p>PRUEBA DE TEXTO 1</p><p>PRUEBA DE TEXTO 1</p><p>PRUEBA DE TEXTO 2</p>").button--secondary Ver más
        figure.gallery__content
          img.gallery__img(src="images/eventos-corporativos.jpg", alt="")
          figcaption
            p.gallery__title Titulo
            a.gallery__link(href="images/eventos-corporativos.jpg", data-caption="<p>PRUEBA DE TEXTO 1</p><p>PRUEBA DE TEXTO 1</p><p>PRUEBA DE TEXTO 1</p><p>PRUEBA DE TEXTO 1</p><p>PRUEBA DE TEXTO 1</p><p>PRUEBA DE TEXTO 1</p><p>PRUEBA DE TEXTO 1</p><p>PRUEBA DE TEXTO 1</p><p>PRUEBA DE TEXTO 1</p><p>PRUEBA DE TEXTO 1</p><p>PRUEBA DE TEXTO 1</p><p>PRUEBA DE TEXTO 1</p><p>PRUEBA DE TEXTO 1</p><p>PRUEBA DE TEXTO 3</p>").button--secondary Ver más
        figure.gallery__content
          img.gallery__img(src="images/eventos-corporativos.jpg", alt="")
          figcaption
            p.gallery__title Titulo
            a.gallery__link(href="images/eventos-corporativos.jpg", data-caption="<p>PRUEBA DE TEXTO 1</p><p>PRUEBA DE TEXTO 1</p><p>PRUEBA DE TEXTO 1</p><p>PRUEBA DE TEXTO 1</p><p>PRUEBA DE TEXTO 1</p><p>PRUEBA DE TEXTO 1</p><p>PRUEBA DE TEXTO 1</p><p>PRUEBA DE TEXTO 1</p><p>PRUEBA DE TEXTO 1</p><p>PRUEBA DE TEXTO 1</p><p>PRUEBA DE TEXTO 1</p><p>PRUEBA DE TEXTO 1</p><p>PRUEBA DE TEXTO 1</p><p>PRUEBA DE TEXTO 4</p>").button--secondary Ver más
        figure.gallery__content
          img.gallery__img(src="images/eventos-corporativos.jpg", alt="")
          figcaption
            p.gallery__title Titulo
            a.gallery__link(href="images/eventos-corporativos.jpg", data-caption="<p>PRUEBA DE TEXTO 1</p><p>PRUEBA DE TEXTO 1</p><p>PRUEBA DE TEXTO 1</p><p>PRUEBA DE TEXTO 1</p><p>PRUEBA DE TEXTO 1</p><p>PRUEBA DE TEXTO 1</p><p>PRUEBA DE TEXTO 1</p><p>PRUEBA DE TEXTO 1</p><p>PRUEBA DE TEXTO 1</p><p>PRUEBA DE TEXTO 1</p><p>PRUEBA DE TEXTO 1</p><p>PRUEBA DE TEXTO 1</p><p>PRUEBA DE TEXTO 1</p><p>PRUEBA DE TEXTO 5</p>").button--secondary Ver más
        figure.gallery__content
          img.gallery__img(src="images/eventos-corporativos.jpg", alt="")
          figcaption
            p.gallery__title Titulo
            a.gallery__link(href="images/eventos-corporativos.jpg", data-caption="<p>PRUEBA DE TEXTO 1</p><p>PRUEBA DE TEXTO 1</p><p>PRUEBA DE TEXTO 1</p><p>PRUEBA DE TEXTO 1</p><p>PRUEBA DE TEXTO 1</p><p>PRUEBA DE TEXTO 1</p><p>PRUEBA DE TEXTO 1</p><p>PRUEBA DE TEXTO 1</p><p>PRUEBA DE TEXTO 1</p><p>PRUEBA DE TEXTO 1</p><p>PRUEBA DE TEXTO 1</p><p>PRUEBA DE TEXTO 1</p><p>PRUEBA DE TEXTO 1</p><p>PRUEBA DE TEXTO 6</p>").button--secondary Ver más
        figure.gallery__content
          img.gallery__img(src="images/eventos-corporativos.jpg", alt="")
          figcaption
            p.gallery__title Titulo
            a.gallery__link(href="").button--secondary Ver más
        figure.gallery__content
          img.gallery__img(src="images/eventos-corporativos.jpg", alt="")
          figcaption
            p.gallery__title Titulo
            a.gallery__link(href="").button--secondary Ver más
        figure.gallery__content
          img.gallery__img(src="images/eventos-corporativos.jpg", alt="")
          figcaption
            p.gallery__title Titulo
            a.gallery__link(href="").button--secondary Ver más
  a.button--ghost--tertiary.button--acordion(v-on:click = "acordionVue(1,0)", :class="mainmenu[0].submenu[1].state ? 'button--acordion_active' : ''", href="#comunicacion-integral", v-text="mainmenu[0].submenu[1].title")
  transition(name="acordion")
    article.comunicat.article(v-show="mainmenu[0].submenu[1].state")
      .article__content
        p .......
  a.button--ghost--tertiary.button--acordion(v-on:click = "acordionVue(2,0)", :class="mainmenu[0].submenu[2].state ? 'button--acordion_active' : ''", href="#comunicacion-integral", v-text="mainmenu[0].submenu[2].title")
  transition(name="acordion")
    article.comunicat.article(v-show="mainmenu[0].submenu[2].state")
      .article__content
        p .......
  a.button--ghost--tertiary.button--acordion(v-on:click = "acordionVue(3,0)", :class="mainmenu[0].submenu[3].state ? 'button--acordion_active' : ''", href="#comunicacion-integral", v-text="mainmenu[0].submenu[3].title")
  transition(name="acordion")
    article.comunicat.article(v-show="mainmenu[0].submenu[3].state")
      .article__content   
        p .......