.comunicat.main__content_text.center
  h2.main__title_2 
    span Nosotros
  p 
    b ComunicaT
    | , empresa de Comunicación integral y Organización de eventos y espectáculos culturales (Asesoramiento, diseño, planificación y producción)
  a.button--accent.center.flex--justify(href="javascript:void(0)", v-on:click="mostrarVue(true)", v-if="!nosotrosState")
    span Mostrar más &nbsp;&nbsp;
    i.icon-down
  transition(name="nosotros-content")
    .main__content_full.comunicat(v-if="nosotrosState")
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, odio iste iusto minus sint optio nulla unde velit beatae dolorum, obcaecati non voluptatem eveniet. Maiores, accusantium! Officiis iusto ratione cumque!
      p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto ut aliquam libero accusantium repudiandae, quos voluptatum animi. Eligendi magni corporis tenetur at fugiat? Ab nulla distinctio obcaecati accusamus nesciunt architecto!
      ul
        li lorem
        li lorem
        li lorem
        li lorem
        li lorem
      a.button--accent.center.flex--justify(href="#nosotros", v-on:click="mostrarVue(false)")
        span Mostrar menos &nbsp;&nbsp;
        i.icon-up