.comunicat
  h2.main__title(v-text="mainmenu[2].title")
.comunicat.main__content
  a.button--ghost--tertiary.button--acordion(v-on:click = "acordionVue(0,2)", :class="mainmenu[2].submenu[0].state ? 'button--acordion_active' : ''", href="#organizacion-de-espectaculos", v-text="mainmenu[2].submenu[0].title")
  transition(name="acordion")
    article.comunicat.article(v-show="mainmenu[2].submenu[0].state")
      .article__content.gallery
        .gallery__content
          a.gallery__link(href="https://www.youtube.com/watch?v=zxRJOgxu6-U" class="mediabox")
            img.gallery__img(:src="'https://img.youtube.com/vi/'+ idYoutube('https://www.youtube.com/watch?v=zxRJOgxu6-U') +'/sddefault.jpg'", alt="")
            span: i.icon-play
          div
            p.gallery__title Texto de imagen
        .gallery__content
          a.gallery__link(href="https://www.youtube.com/watch?v=AK_fsgjoVYk" class="mediabox")
            img.gallery__img(:src="'https://img.youtube.com/vi/'+ idYoutube('https://www.youtube.com/watch?v=AK_fsgjoVYk') +'/sddefault.jpg'", alt="")
            span: i.icon-play
          div  
            p.gallery__title Texto de imagen
        .gallery__content
          a.gallery__link(href="images/eventos-corporativos.jpg", data-caption="<p>PRUEBA DE TEXTO 1</p><p>PRUEBA DE TEXTO 1</p>")
            img.gallery__img(src="images/eventos-corporativos.jpg", alt="")
            span: i.icon-zoom
          div
            p.gallery__title Titulo
        .gallery__content
          a.gallery__link(href="javascript:void(0)")
            img.gallery__img(src="images/eventos-corporativos.jpg", alt="")
            span: i.icon-pictures
          div
            p.gallery__title Titulo
            a.gallery__link(href="javascript:void(0)" ).button--secondary Ver más
        .gallery__content
          a.gallery__link(href="images/eventos-corporativos.jpg", data-caption="<p>PRUEBA DE TEXTO 1</p>")
            img.gallery__img(src="images/eventos-corporativos.jpg", alt="")
            span: i.icon-zoom
          div
            p.gallery__title Titulo
  a.button--ghost--tertiary.button--acordion(v-on:click = "acordionVue(1,2)", :class="mainmenu[2].submenu[1].state ? 'button--acordion_active' : ''", href="#organizacion-de-espectaculos", v-text="mainmenu[2].submenu[1].title")
  transition(name="acordion")
    article.comunicat.article(v-show="mainmenu[2].submenu[1].state")
      .article__content
        p ...
  a.button--ghost--tertiary.button--acordion(v-on:click = "acordionVue(2,2)", :class="mainmenu[2].submenu[2].state ? 'button--acordion_active' : ''", href="#organizacion-de-espectaculos", v-text="mainmenu[2].submenu[2].title")
  transition(name="acordion")
    article.comunicat.article(v-show="mainmenu[2].submenu[2].state")
      .article__content
        p ...
  a.button--ghost--tertiary.button--acordion(v-on:click = "acordionVue(3,2)", :class="mainmenu[2].submenu[3].state ? 'button--acordion_active' : ''", href="#organizacion-de-espectaculos", v-text="mainmenu[2].submenu[3].title")
  transition(name="acordion")
    article.comunicat.article(v-show="mainmenu[2].submenu[3].state")
      .article__content
        p ...
  a.button--ghost--tertiary.button--acordion(v-on:click = "acordionVue(4,2)", :class="mainmenu[2].submenu[4].state ? 'button--acordion_active' : ''", href="#organizacion-de-espectaculos", v-text="mainmenu[2].submenu[4].title")
  transition(name="acordion")
    article.comunicat.article(v-show="mainmenu[2].submenu[4].state")
      .article__content
        p ...
  a.button--ghost--tertiary.button--acordion(v-on:click = "acordionVue(5,2)", :class="mainmenu[2].submenu[5].state ? 'button--acordion_active' : ''", href="#organizacion-de-espectaculos", v-text="mainmenu[2].submenu[5].title")
  transition(name="acordion")
    article.comunicat.article(v-show="mainmenu[2].submenu[5].state")
      .article__content
        p ...
  a.button--ghost--tertiary.button--acordion(v-on:click = "acordionVue(6,2)", :class="mainmenu[2].submenu[6].state ? 'button--acordion_active' : ''", href="#organizacion-de-espectaculos", v-text="mainmenu[2].submenu[6].title")
  transition(name="acordion")
    article.comunicat.article(v-show="mainmenu[2].submenu[6].state")
      .article__content
        p ...
  a.button--ghost--tertiary.button--acordion(v-on:click = "acordionVue(7,2)", :class="mainmenu[2].submenu[7].state ? 'button--acordion_active' : ''", href="#organizacion-de-espectaculos", v-text="mainmenu[2].submenu[7].title")
  transition(name="acordion")
    article.comunicat.article(v-show="mainmenu[2].submenu[7].state")
      .article__content
        p ...
  a.button--ghost--tertiary.button--acordion(v-on:click = "acordionVue(8,2)", :class="mainmenu[2].submenu[8].state ? 'button--acordion_active' : ''", href="#organizacion-de-espectaculos", v-text="mainmenu[2].submenu[8].title")
  transition(name="acordion")
    article.comunicat.article(v-show="mainmenu[2].submenu[8].state")
      .article__content
        p ...