.comunicat
  h2.main__title(v-text="mainmenu[1].title")
.comunicat.main__content
  a.button--ghost--tertiary.button--acordion(v-on:click = "acordionVue(0,1)", :class="mainmenu[1].submenu[0].state ? 'button--acordion_active' : ''", href="#organizacion-de-eventos-corporativos", v-text="mainmenu[1].submenu[0].title")
  transition(name="acordion")
    article.comunicat.article(v-show="mainmenu[1].submenu[0].state")
      .article__content
        p ...
  a.button--ghost--tertiary.button--acordion(v-on:click = "acordionVue(1,1)", :class="mainmenu[1].submenu[1].state ? 'button--acordion_active' : ''", href="#organizacion-de-eventos-corporativos", v-text="mainmenu[1].submenu[1].title")
  transition(name="acordion")
    article.comunicat.article(v-show="mainmenu[1].submenu[1].state")
      .article__content
        p ...
  a.button--ghost--tertiary.button--acordion(v-on:click = "acordionVue(2,1)", :class="mainmenu[1].submenu[2].state ? 'button--acordion_active' : ''", href="#organizacion-de-eventos-corporativos", v-text="mainmenu[1].submenu[2].title")
  transition(name="acordion")
    article.comunicat.article(v-show="mainmenu[1].submenu[2].state")
      .article__content
        p ...
  a.button--ghost--tertiary.button--acordion(v-on:click = "acordionVue(3,1)", :class="mainmenu[1].submenu[3].state ? 'button--acordion_active' : ''", href="#organizacion-de-eventos-corporativos", v-text="mainmenu[1].submenu[3].title")
  transition(name="acordion")
    article.comunicat.article(v-show="mainmenu[1].submenu[3].state")
      .article__content
        p ...
  a.button--ghost--tertiary.button--acordion(v-on:click = "acordionVue(4,1)", :class="mainmenu[1].submenu[4].state ? 'button--acordion_active' : ''", href="#organizacion-de-eventos-corporativos", v-text="mainmenu[1].submenu[4].title")
  transition(name="acordion")
    article.comunicat.article(v-show="mainmenu[1].submenu[4].state")
      .article__content
        p ...
  a.button--ghost--tertiary.button--acordion(v-on:click = "acordionVue(5,1)", :class="mainmenu[1].submenu[5].state ? 'button--acordion_active' : ''", href="#organizacion-de-eventos-corporativos", v-text="mainmenu[1].submenu[5].title")
  transition(name="acordion")
    article.comunicat.article(v-show="mainmenu[1].submenu[5].state")
      .article__content
        p ...
