.comunicat.main__content_text
  h2.main__title_2 
    span Servicios
  p Trabajamos con excelencia para mejorar los objetivos sociales, institucionales y comerciales de nuestros clientes a nivel local y nacional. Nos especializamos en:
  .col33.wow.fadeInLeft(data-wow-duration="1.5s" data-wow-delay="0")
    .card
      .card__title.card__title_third(v-text="mainmenu[0].title")
      .card__img.card__img_third
        img(src="http://benditodilema.com/wp-content/uploads/2014/08/influencers-1021x1024.jpg")
      .card__content
        footer.card__footer
          .card__button
            a(:href="'#' + mainmenu[0].href").button--ghost--tertiary.button--small Ver más
  .col33.wow.fadeInUp(data-wow-duration="1.5s" data-wow-delay="0")
    .card
      .card__title.card__title_first(v-text="mainmenu[1].title")
      .card__img.card__img_first
        img(src="images/eventos-corporativos.jpg")
      .card__content
        footer.card__footer
          .card__button
            a(:href="'#' + mainmenu[1].href").button--ghost--tertiary.button--small Ver más
  .col33.wow.fadeInRight(data-wow-duration="1.5s" data-wow-delay="0")
    .card
      .card__title.card__title_ghost--dark(v-text="mainmenu[2].title")
      .card__img
        img(src="images/espectaculos.jpg")
      .card__content
        footer.card__footer.flex--center
          .card__button
            a(:href="'#' + mainmenu[2].href").button--ghost--tertiary.button--small Ver más