.slider-comunicat
	.main-banner.main-banner--tertiary
		.comunicat
			.item
				img.main-banner__img(src='https://www.hoteleselba.com/sites/default/files/empresas_1.jpg')
				.main-banner__data
					h1 Comunicación integral
					p.subtitle  Subtítulo del banner
					// opcional
					a.button.center(:href="'#' + mainmenu[0].href") Ver más
					// opcional
	.main-banner.main-banner
		.comunicat
			.item
				img.main-banner__img(src='images/slide2.jpg')
				.main-banner__data
					h1 Organización de eventos corporativos
					p.subtitle  Subtítulo del banner
					// opcional
					a.button--tertiary.center(:href="'#' + mainmenu[1].href") Ver más
					// opcional
	.main-banner.main-banner--accent
		.comunicat
			.item
				img.main-banner__img(src='images/slide3.jpg')
				.main-banner__data
					h1 Organización de espectáculos
					p.subtitle  Subtítulo del banner
					// opcional
					a.button.center(:href="'#' + mainmenu[2].href") Ver más
					// opcional