<!DOCTYPE html>
html(lang="es" prefix="og: http://ogp.me/ns#")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title ComunícaT | Comunicación integral, organización de eventos corporativos y espectáculos 
		meta(name='designer', content='Fernando Javier Averanga Aruquipa / nandes.ingsistemas@gmail.com')
		meta(name='description', content='Estrategias de comunicación, diseño gráfico, producción audiovisual. Planificación de eventos, lanzamientos, convenciones, seminarios, talleres, presentaciones, inauguraciones, ferias, exposiciones y show romos. Organización de almuerzos, cenas, vinos de honor. Asesoramiento de eventos culturales. Producción de espectáculos y shows artísticos')
		meta(property="og:title" content="ComunícaT | Comunicación integral, organización de eventos corporativos y espectáculos")
		meta(property="og:description" content="Estrategías de comunicación, diseño gráfico, producción audiovisual. Planificación de eventos, lanzamientos, convenciones, seminarios, talleres, presentaciones, inauguraciones, ferias, exposiciones y show romos. Organización de almuerzos, cenas, vinos de honor. Asesoramiento de eventos culturales. Producción de espectáculos y shows artísticos")  
		meta(name='author', content='Lic. Sandra Delgadillo Pacheco | Directora General')
		meta(name='keywords', content='')
		link(rel="stylesheet", href="css/styles.css?v1.0.5")
	body
		#comunicat.poppup_slider
			header.header#header
				nav.header__top
				nav
					.header__content.comunicat
						.header__logo
							img(src="images/comunicaT.png", alt="")
						.header__menu_movil
							ul.header__social_movil.social
								li.header__social_item.social__icon: a.header__social_link(href="", target="_black"): i.icon-facebook 
								li.header__social_item.social__icon: a.header__social_link(href="", target="_black"): i.icon-youtube
								li.header__social_item.social__icon: a.header__social_link(href="", target="_black"): i.icon-twitter
							a.button.full.button--movil(href="javascript:void(0)", @click="toggleMenu()") MENÚ
						.header__menu(:class="toggle ? 'header__menu_toggle' : ''")
							ul.header__social.social
								li.header__social_item.social__icon: a.header__social_link(href="", target="_black"): i.icon-facebook 
								li.header__social_item.social__icon: a.header__social_link(href="", target="_black"): i.icon-youtube
								li.header__social_item.social__icon: a.header__social_link(href="", target="_black"): i.icon-twitter
							.header__inicio
								a.button--ghost(v-for="item in menuinicio", v-text="item.title", :href="baseUrl + '#' + item.href", @click="toggle = false")
							.header__list
								a(:class="'button' + item.color" v-for="item in mainmenu" , :href="baseUrl + '#' + item.href", v-text="item.title", @click="toggle = false") 
			block content

			main.main.main--first(:id="menuinicio[2].href")
				.comunicat.form
					h2 Contáctenos
				form.comunicat.form(v-on:submit.prevent="submitForm")
					.col30.wow.fadeInRight(data-wow-duration="1.5s" data-wow-delay="0")
						.item
							label.form__label(for="") Nombre completo: 
							input.form__input(v-model="vue.nombre" type="text" required="")
						.item
							label.form__label(for="") Teléfono: 
							input.form__input(v-model="vue.telefono" type="number")
						.item
							label.form__label(for="") Celular: 
							input.form__input(v-model="vue.movil" type="number" required="")
						.item
							label.form__label(for="") Dirección: 
							input.form__input(v-model="vue.direccion" type="text" required="")
						.item
							label.form__label(for="") Ciudad: 
							input.form__input(v-model="vue.ciudad" type="text" required="")
					.col30.wow.fadeInLeft(data-wow-duration="1.5s" data-wow-delay="0")
						.item
							label.form__label(for="") Email: 
							input.form__input(v-model="vue.email" type="email" required="")
						.item
							label.form__label(for="") Mensaje: 
							textarea.form__input(v-model="vue.mensaje" name="", cols="30", rows="10" required="") 
						.form_buttons.flex--center 
							button.button--ghost--secondary(type="submit") Enviar
							button.button--ghost--secondary(v-on:click="clearForm()") Limpiar
						.statusMessage(v-if="formSubmitted")
							h4(v-text="vue.envio")
				.comunicat.flex--center
					.col100.flex--center
						//- ul.footer__social.social
							li.footer__social_item.social__icon: a.footer__social_link(href="", target="_black"): i.icon-facebook 
							li.footer__social_item.social__icon: a.footer__social_link(href="", target="_black"): i.icon-youtube
							li.footer__social_item.social__icon: a.footer__social_link(href="", target="_black"): i.icon-twitter
						p 
							b COMUNICAT BOLIVIA: 
							| La Paz, Z. Los Pinos, calle 25
						p &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						p 
							b Telf: 
							| 2772966, &nbsp;
							b Cel:
							| &nbsp;&nbsp;
							span.whatsapp 78977722

			footer.footer
				.comunicat.footer__content
					.footer__item
						p 
						| Todos los Derechos Reservados ®
						|	&nbsp;&nbsp;COMUNICAT ©
						span#currentDate 
					.footer__item
						a.ah(href='//ahpublic.com', target='_blank') Diseño y Programación: AH! PUBLICIDAD
		script(src="js/scripts.js?v1.0.5")
		