.main-header {
  height : 64px;
  border-bottom : 1px solid $borderColor;
  display : flex;
  align-items: center;
  background : #fff;
  position : fixed;
  top : 0;
  width : 100%;
  left : 0;
  z-index : $z-fixed;

  + .main-section {
    margin-top : 2rem;
  }
}

body {
  display : flex;
  flex-direction : column;
  min-height : calc(100vh - 64px);
  padding-top: 126px;
  overflow-y:auto;
  overflow-x:hidden;
}

.main-section {
  margin-bottom : 4rem;
}

.main-footer {
  background : $darkColor;
  color: #fff;
  margin-top : auto;
  padding : 1em 0;
}


.sidebar-first {
  margin-bottom : 1em;
}


.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  background: #fff;
  box-shadow: 1px 1px 1px 1px darken($borderColor,5);
  &__top{
    background: lighten($borderColor,5);
  }
  &__social{
    @include edItem(100,80,50,50);
    @include crossCenter;
    @include showFrom(xl);
    &_movil{
      @include showFrom(m);
    }
  }
  &__inicio{
    @include edItem(100,100,100,50);
    @include mainEnd;
    @include crossCenter;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 0;
    .button--ghost{
      padding: 0 0.5em;
      font-size: 1rem;
      &:hover{
        background: $bodyBg;
        color: $firstColor
      }
    }
  }
  
  .header__content{
    height: 125px;
    border-top: solid 1px $borderColor;
    transition: 0s all;
    .button{
      margin: 0.4rem 0.25em;
    }
  }
  
  &__logo{
    @include edItem(100, 50, 50, 27);
    @include crossCenter;
    transition: 0.6s width;
    @include to(m){
      @include mainCenter;
      img{
        height: 84px;
      }
    }
  }
  &__menu{
    position: relative;
    @include edItem(100, 50, 50, 73);
    background: white;
    @include from(xl){
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
      transition: 0.6s width;
    }
    @include to(xl) {
      position: absolute;
      top: 130px;
      right: 0;
      transform: translateX(100%);
      transition: 0.4s transform;
      [class*=button--]{
        display: block;
      }
    }
    &_toggle{
      transform: translateX(0);
    }
  }
  &__menu_movil{
    @include edItem(100, 50, 50);
    @include showTo(xl);
    transition: 0.6s width;
  }
  &__list{
    align-self: flex-end;
    margin-bottom: 0.5rem;
  }
}

.main{
  &--first { background : $firstColor; color: $bodyBg }
  &--secondary { background : $secondColor }
  &--tertiary  { background : $thirdColor }
  &--accent    { background : $accentColor }
  &--dark      { background : $darkColor }
  &__title{
    position: relative;
    width: 100%;
    font-family: $body-font;
    margin-top: 1.5rem;
    padding: .6rem 1.2rem .4rem;
    border-radius: 5px;
    background: linear-gradient($firstColor, lighten($firstColor, 15), $firstColor);
    color: $bodyBg;
    text-align: center;
    text-transform: uppercase;
    &_2{
      position: relative;
      width: 100%;
      font-family: $body-font;
      font-size: 2.5rem;
      margin-top: 3rem;
      margin-bottom: 2rem;
      text-transform: uppercase;
      text-align: center;
      color: transparentize($firstColor, 0.1);
      &::before{
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        width: 100%;
        border-bottom: 4px solid #606060;
        border-image: linear-gradient(90deg,transparent,$firstColor 50%,$firstColor 0,$firstColor 50%,transparent);
        border-image-slice: 1;
        z-index: -1;
        transform: translateY(-50%);
      }
      span{
        background: #fff;
        // padding: 0 15px;
        padding: .6rem 1.2rem .4rem;
      }
    }
  }
  &__content{
    padding-bottom: 35px;
    margin-bottom: 10px;
    &_text{
      font-family: $content-font;
      p{
        width: 100%;
        font-family: $content-font;
        text-align: center;
      }
    }
    &_full{
      overflow: hidden;
      text-align: initial;
    }
  }
}

.footer{
  background: $thirdColor;
  &__item{
    @include edItem(100,50,50);
    @include crossCenter;
    height: 50px;
    &:first-child{
      @include mainStart;
      color: $bodyBg;
    }
    &:last-child{
      @include mainEnd;
      a{
        opacity: 0.4;
        transition: 0.4s opacity;
        color: $bodyBg;
        &:hover{
          opacity: 0.8;
          text-decoration: none;
        }
      }
    }
  }
}