.article{
  overflow: hidden;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 5px;
  margin-bottom: 1px;
  transition: max-height 1s;
  font-family: $content-font;
  &__content{
    @include edItem(100);
    padding: 30px 20px 10px;
  }
}