// Basic buttons
.button,
[class*="button--"]{
  @include button;
  &.center       { @include button-center }
  &.full         { @include button-full }
  &.button--small { @include button-small }
}
// Buttons variations
.button--secondary { @include button-secondary }
.button--tertiary  { @include button-tertiary }
.button--accent       { @include button-cta }
.button--dark      { @include button-dark }

// Ghost buttons
[class*="button--ghost"]  { @include button-ghost }
.button--ghost--secondary { @include button-ghost-secondary }
.button--ghost--tertiary  { @include button-ghost-tertiary }
.button--ghost--accent    { @include button-ghost-cta }
.button--ghost--dark      { @include button-ghost-dark }

// Show buttons in style guide
.show-buttons {
  .button, [class*="button--"] {
    margin-bottom : 2rem;
  }

  + h2 {
    margin-top : 1rem;
  }
}
.button--acordion{
  @include button-full;
  margin-top: 2px;
  font-size: fontSize(t3);
  padding: .1em 1em;
  text-align: initial;
  background: linear-gradient(lighten($borderColor, 20),$borderColor);
  border: 1px solid rgba(0,0,0,.125);
  &::before{
    content: '+';
    font-family: $heading-font;
    padding-right: 10px;
    font-size: 2rem;
    font-weight: 100;
  }
  &_active{
    @include button-tertiary;
    color: $bodyBg;
    &::before{  
      content: '–';
      font-size: 2rem;
      font-weight: 100;
    } 
  }
}
.button--movil{
  height: 35px;
}
