.card {
  @include widget;
  @include round;
  margin-bottom : 2rem;
  overflow: hidden;

  p, [class*="button"]  {
    margin : 0;
  }
}

.card__img {
  position: relative;
  padding: 12.5px;
  img {
    display : block;
    border-radius : .25rem .25rem 0 0;
    height: 460px;
    width: 100%;
    object-fit: cover;
  }
  &::after{
    content: '';
    position: absolute;
    top: 12px;
    left: 12px;
    width: calc(100% - 24px);
    height: calc(100% - 24px);
    border-radius: .25rem .25rem 0 0;
  }
  &_first{
    &::after{
      background: radial-gradient(transparent, transparentize($firstColor, 0.4));
    }
  }
  &_accent{
    &::after{
      background: radial-gradient(transparent, transparentize($accentColor, 0.4));
    }
  }
  &_third{
    &::after{
      background: radial-gradient(transparent, transparentize($thirdColor, 0.4));
    }  
  }
}

.card__content {
  font-size : fontSize(small);
  padding : 0 1rem 1rem 1rem;
}

.card__title {
  @include mainCenter;
  @include crossCenter;
  font-size : fontSize(t3);
  font-family : $body-font;
  font-weight : 700;
  text-align: center;
  height: 50px;
  line-height: 1;
  color: $bodyBg;
  + .card__subtitle {
    margin-top : -1rem;
  }
  &_first{
    background: $firstColor;
  }
  &_third{
    background: $thirdColor;
  }
  &_ghost--dark{
    background: white;
    color: $firstColor;
    border: solid 1px $thirdColor;
  }
}

.card__subtitle {
  font-size : fontSize(smaller);
  opacity : .5;
  margin-bottom : .5rem;
}

.card__footer {
  font-size : fontSize(smaller);
  border-top : 1px solid $borderColor;
  padding-top : 1rem;
  display : flex;
  justify-content: center;
  align-items: center;
}

.card__user {
  display : flex;
  align-items: center;

  a {
    color: $textColor;
  }
}

.card__user-img {
  img {
    @include circle;
    width : 2rem;
    height : 2rem;
    display : block;
    margin-right : .5rem;
  }
}

// Card mini
[class*="card--mini"] {
  .card__title {
    margin-bottom : .25rem;
  }
  .card__body {
    font-size : fontSize(smaller);
    padding-top : .5rem;
    border-top : 1px solid $accentColor;
  }

  .card__footer {
    border-top : none;
    padding-top : 0;
  }
}

// Card mini horizontal
.card--mini-horizontal {
  @include from(l) {
    display : flex;
  }

  .card__img {
    img {
      border-radius : .25rem 0 0 .25rem;
    }
  }
}
