.col30{
  @include edItem(100, 50, 30);
}
.col33{
  @include edItem(100, 50, 33.3333333);
}
.col50{
  @include edItem(100, 50);
}

.flex--center{
  @include mainCenter;
}
.flex--end{
  @include mainEnd;
}
.flex--start{
  @include mainStart;
}
.flex--justify{
  @include mainJustify;
}