input[type=number]::-webkit-outer-spin-button,input[type=number]::-webkit-inner-spin-button {-webkit-appearance: none;margin: 0;}
input[type=number] {-moz-appearance:textfield;}
.form{
  @include mainCenter;
  margin-bottom: 27px;
  border-bottom: transparentize($bodyBg, 0.5) solid .5px;
  &_buttons{
    margin: 10px 10px 15px 10px;
    button{
      margin: 0 10px;
      padding: 10px 15px;
    }
  }
}
form {

  .form__item {
    margin-bottom : 2rem;
  }

  input:not([type="checkbox"]):not([type="radio"]):not([type="submit"]), select, textarea {
    display       : block;
    border        : 1px solid $borderColor;
    background    : #FFF;
    width         : 100%;
    line-height   : 1.6;
    font-family   : $body-font; // Fuerza a tomar la fuente por defecto
    font-size     : fontSize(small);
    color         : $textColor;
    border-radius : .25rem;
    padding       : .5rem 1rem;
    &::placeholder {
      color : rgba($textColor, .75);
    }
  }

  textarea {
    min-height : 6em;
  }

  label {
    // color         : $firstColor;
    display       : block;
    font-size     : fontSize(smaller);
    margin-bottom : .2em;
    + input::placeholder {
      display : none;
    }
  }

  [type="submit"] {
    margin : 0 !important;
  }

  //.checkbox-container,
  //.radio-container {
  //  margin-bottom : 1.4rem;
  //
  //  label {
  //    display : table;
  //    color   : $textColor;
  //  }
  //}
}
