.gallery{
  width: 100%;
  @include edContainer; 
  &__content{
    @include edItem(33.33333,25,20,16.666666667);
    margin-bottom: 20px;
    @include to(380px){
      width: 50%;
    }
    .mediabox,.gallery__link{
      // &:hover{
        span{
          position: absolute;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: fontSize(t1);
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: hsla(0, 0%, 0%, 0.404);            
          opacity: 0;
          transition: opacity 0.3s ease-in;
        }
        &:hover{
          span{
            opacity: 1;
            transition: opacity 0.5s ease-out;
          }
        }
      // }
    }
  }
  &__title{
    text-align: center;
    margin: 0 0 3px;
    font-size: 1rem;
  }
  &__img{
    width: 100%;
    height: 160px;
    object-fit: cover;
    border: double 3px lighten($firstColor, 20);    
  }
  &__cover, &__contain{
    height: 170px;
  }
  &__cover{
    object-fit: cover;
  }
  &__contain{
    object-fit: contain;
  }
  &__link{
    // width: 100%;
    position: relative;
    @include mainCenter;
    font-family: $body-font;
    color: $bodyBg;
  }
}