        // initial: 'header-initial', //Cuando el elemento se inicializa
        // pinned: 'header-up', //Cuando se deplaza hacia arriba
        // unpinned: 'header-down', //Cuando se deplaza hacia abajo
        // top: 'header-top', //Cuando esta pegado arriba
        // notTop: 'header-notop', //Cuando no esta pegado arriba
        // bottom: 'header-bottom', //Cuando esta pegado abajo
        // notBottom: 'header-nobottom'//Cuando no esta pegado abajo
.header-initial{

}
.header-up{

}
.header-down{

}
.header-top{

}
.header-notop{
  position: fixed;
  .header__content {
    height: 85px;
    transition: 0.6s height;
  }
  .header__logo{
    @include edItem(100, 50, 20, 22);
    @include showFrom(m);
  }
  .header__menu_movil,.header__menu{
    @include edItem(100, 50, 80, 78);
  }
  .header__menu_movil{
    @include showTo(xl);
    @include crossCenter;
  }
  .header__menu{
    @include to(xl) {
      top: 86px;
    }
  }
  img {
    max-width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: left;
  }
  .header__social_movil{
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
  }
  .social i{
    width: 20px;
    height: 20px;
    padding-top: .25rem;
    font-size: 0.8rem;
  }
  .header__inicio .button--ghost {
    font-size: 0.85rem;
  }
}
.header-bottom{

}
.header-nobottom{

}