ul, ol {
  margin-top : 0;
  margin-bottom : 1em;
  padding-left : 2em;
  margin-left : 2em;

  li {
    padding-left : .2em;
  }
}

.data-list,
.feature-list ul {
  // @include clearMenu;
  @include edContainer;
  margin-top : 0;
  margin-bottom : 2em;
  padding-right: 2em;
  li {
    border-bottom : 1px solid $borderColor;
    padding : .5em 0;
    @include edItem(100, 50, 33.3333);
  }
}

.data-list {
  li {
    display : flex;
    justify-content: space-between;
    align-items: center;
  }

  h1,h2,h3,h4,h5,h6,p, [class*="button"] {
    margin : 0;
  }
}

.feature-list ul {
  // padding-left : 0;
  margin-top: 0;
  li {
    padding : .5em 2em .5em 1.5em;
    list-style: none;
    position : relative;

    //@include icon(check,before);
    &::before {
      content: '';
      width : 1rem;
      height : 1rem;
      display : block;
      position : absolute;
      top : .9em;
      left : 0;
      color: $firstColor;
      background : url(../images/icon-check.svg);
    }
  }

  //&.secondary li::before { color: $secondColor }
  //&.tertiary li::before  { color: $thirdColor  }
  //&.accent li::before    { color: $accentColor }
  //&.dark li::before      { color: $darkColor   }
}
