.main-banner {
  border-top    : solid 8px $firstColor;
  // background    : darken($firstColor,10);
  color         : #FFF;
  clip-path     : polygon(0 0, 100% 0, 100% 100%, 0 94%);
  position      : relative;
  @include from(xl){ height: 550px; }
  @include fromTo(l,xl){ height: 500px; }
  @include fromTo(m,l){ height: 350px; }
  @include to(m){ height: 350px; }
  h1{ 
    display     : inline-block;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 7px;
    background  : transparentize($firstColor, 0.75) 
  }
  &.main-banner--secondary { 
    border-top: solid 8px $secondColor;
    h1{
      background: transparentize($secondColor, 0.75)
    }
  }
  &.main-banner--tertiary  { border-top: solid 8px $thirdColor; 
    h1{
      background: transparentize($thirdColor, 0.75)
    }
  }
  &.main-banner--accent    { border-top: solid 8px $accentColor; 
    h1{
      background: transparentize($accentColor, 0.75)
    }
  }
  &.main-banner--dark      { border-top: solid 8px $darkColor; 
    h1{
      background: transparentize($darkColor, 0.75)
    }
  }
}

.main-banner__img {
  position   : absolute;
  top        : 0;
  left       : 0;
  width      : 100%;
  height     : 100%;
  object-fit : cover;
  // opacity    : .6;
}

.main-banner__data {
  text-align    : center;
  margin-top    : 4rem;
  margin-bottom : 3rem;
  position      : relative;
  // transform     : translateX(-100%);
  // transition    : 1.5s transform; 

  @include from(l) {
    margin-top    : 10.5rem;
    margin-bottom : 12.5rem;
  }
  h1{
    text-shadow: 1px 1px 1px $textColor;
  }
  [class*='button'] {
    //margin : 0;
  }
}

.main-banner__author {
  color: #fff;
  margin-top : -1.5rem;

  a {
    color: inherit;
  }

  &-img {
    width : 6rem;
    height : 6rem;
    border-radius : 50%;
    border : 2px solid;
    display : block;
    margin : 0 auto;
  }

  &-name {
    font-size : fontSize(small);
  }
}

// .tns-slide-active{
//   .main-banner__data{
//     transition    : 3s transform; 
//     transform     : translateX(0);
//   }
// }
// .tns-item:nth-last-child(1){
//   // transition    : 3s transform; 
//   transform     : translateX(0);
// }