.modal-mask-defect{
  display: none;
}

.modal-mask {
  display: block;
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transform: translateY(0);
  transition: opacity .3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  position: relative;
  max-width: 500px;
  width: 85%;
  min-width: 250px;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transform: translateY(0);
  transition: all .3s ease;
  font-family: Helvetica, Arial, sans-serif;
}
.modal-x{
  position: absolute;
  top: -36px;
  right: 0;
}
.modal-exit{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
}

.modal-header h3 {
  margin-top: 0;
  color: #42b983;
}

.modal-body {
  margin: 20px 0;
}

.modal-default-button {
  float: right;
}

/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */
.modal-enter-active {
  transform: scale(1.1) translateY(0);
}

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
  transform: scale(1.1) translateY(-100%);
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  // -webkit-transform: scale(1.1);
  transform: scale(1.1) translateY(0);
}
