.poppup_slider .modal-popup{
    > .tns-outer {
    padding: 0 !important; // remove padding: clientWidth = width + padding (0) = width
    position: absolute;
    top:50%;
    left: 50%;
    @include from(l){
      width: 70%;
    }
    @include to(l){
      width: 80%;
    }
    transform: translateX(-50%) translateY(-50%);
    [hidden] { display: none !important; }
    [aria-controls], [data-action] { cursor: pointer; }
    &.ms-touch {
      overflow-x: scroll;
      overflow-y: hidden;
      -ms-overflow-style: none; // Hides the scrollbar.
      -ms-scroll-chaining: none; // Prevents Metro from swiping to the next tab or app.
      -ms-scroll-snap-type: mandatory; // Forces a snap scroll behavior on your images.
      -ms-scroll-snap-points-x: snapInterval(0%, 100%); // Defines the y and x intervals to snap to when scrolling.
    }
  }
   .tns-slider {
    -webkit-transition: all 0s;
    -moz-transition: all 0s;
    transition: all 0s;
    > .tns-item {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }
  }

   .tns-horizontal.tns-subpixel {
    white-space: nowrap;
    > .tns-item {
      display: inline-block;
      position: relative;
      vertical-align: top;
      white-space: normal;
    }
  }
  .tns-horizontal.tns-no-subpixel {
    &:after {
      content: '';
      display: table;
      clear: both;
    }
    > .tns-item {
      float: left;
      margin-right: -100%;
    }
  }
  .tns-no-calc {
    position: relative;
    left: 0;
  }

  .tns-gallery {
    position: relative;
    left: 0;
    // overflow: hidden;
    > .tns-item {
      position: absolute;
      left: -100%;
      -webkit-transition: opacity 0s;
      -moz-transition: opacity 0s;
      -webkit-transition: transform 0s, opacity 0s;
      -moz-transition: transform 0s, opacity 0s;
      transition: transform 0s, opacity 0s;
    }
  }
  .tns-lazy-img {
    -webkit-transition: opacity 0.6s;
    -moz-transition: opacity 0.6s;
    transition: opacity 0.6s;
    opacity: 0.6;
    &.loaded { opacity: 1; }
  }
  .tns-ah {
    -webkit-transition: height 0s;
    -moz-transition: height 0s;
    transition: height 0s;
  }
  .tns-ovh { overflow: hidden; }
  .tns-hdx { overflow-x: hidden; }
  .tns-hdy { overflow-y: hidden; }
  .tns-visually-hidden { position: absolute; left: -10000em; }
  .tns-transparent { opacity: 0; visibility: hidden; }

  .tns-fadeIn {
    opacity: 1;
    filter: alpha(opacity=100);
    z-index: 0;
  }
  .tns-normal, .tns-fadeOut {
    opacity: 0;
    filter: alpha(opacity=0);
    z-index: -1;
  }
  // MODAL POPUP - CAROUSEL INI
  // > .modal-popup{
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      z-index: 10;
      .modal-popup__background{
        position: absolute;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.71);
        width: 100%;
        height: 100%;
        z-index: -1;
      }
      .modal-popup__close{
        @include mainCenter;
        border-radius: 10px;
        z-index: 10;
        cursor: pointer;
        color: $borderColor;
        margin-top: 30px;
      }
      img{
        width: 100%;
        object-fit: contain;
        object-position: center;
        height: 80vh;
      }
  // }
  // > .modal-popup {
    [data-controls="next"], [data-controls="prev"]{
      position: absolute;
      top: 50%;
      z-index: 10;
      font-size: 40px;
      font-weight: 100;
      color: #ffbc4b;
      background: transparent;
      text-shadow: 3px 3px 1px #7e4f00;
      border: none;
      transform: translateY(-50%) scaleY(2.8);
      &:hover{
        color: $thirdColor;
        text-shadow: 3px 3px 1px darken($firstColor,40);
      }
    }
  // } 
  // .modal-popup {
    [data-controls="next"]{
      right: -36px;
    }
  // }
  // .modal-popup {
    [data-controls="prev"]{
      right: 100%;
    }
  // }
  // .modal-popup {

    [data-nav], [data-action]{
      display: none;
    }
  // }
  // MODAL POPUP - CAROUSEL END
}

//Transsition vuejs
.modal--slider-enter-active {
  transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
  transform: translateX(100px);
}
.modal--slider-leave-active {
  transition: all .3s ease;
}
.modal--slider-enter, .modal--slider-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateY(-20px);
  opacity: 0;
}
.modal-popup__button{
  position  : absolute;
  top       : 50%;
  left      : 50%;
  transform : translateX(-50%) translateY(-50%);
}