.social {
  padding-left: 0.5rem;
  &__icon {
    display: inline-block;
    padding-left: 0;
  }
  a:hover{
    text-decoration: none;
  }
}
.social i {
    color: $secondColor;
    background: radial-gradient(hsla(0,0%,100%,.67) 0,hsla(0,0%,100%,.43) 250%);
    box-shadow: 0 0 1px 0 #010101;
    color: $firstColor;
    &:hover{
      color: white;
    }
}
.icon-facebook, .icon-twitter, .icon-youtube {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    padding-top: .45rem;
    font-size: 1.1rem;
    border-radius: 5px;
    transition: all .5s;
    margin: 0 5px;
}
.icon-twitter:hover {
  
  background: #1ca0f1;
}
.icon-youtube:hover {
    background: #fd0000;
}
.icon-facebook:hover {
    background: #4862a3;
}