@mixin tableStyle($color) {
  // th { background   : $color }
  td { border-bottom : 1px solid rgba($color, .3) }
  tr:hover { background : rgba($color, .1) }

  // &.first-column {
  //   td:first-child {
  //     background : rgba($color,.75);
  //     color: #fff;
  //   }
  // }
}

table {
  table-layout    : fixed;
  border-collapse : collapse;
  font-size       : fontSize(small);
  background      : #FFF;

  th {
    font-family : 'Open Sans', sans-serif;
    // text-align   : left;
    // color        : #FFF;
    // font-weight  : 700;
    border-right : 1px solid rgba(#fff, .2);
  }

  td {
    min-width     : 100px;
    &:nth-child(even) {
      background : rgba($borderColor, .2);
    }
  }

  td, th {
    padding : 1em 1.5em;
  }
}

.table-container {
  width      : 100%;
  overflow-x : auto;
  border     : 1px solid $borderColor;
  margin-bottom : 2em;
  position : relative;
  table{
    @include tableStyle($firstColor);
  }
  &.first-column table{
    td:first-child {
      background : rgba($firstColor,.75);
      color: #fff;
    }
  }
}

.table--secondary{
  table { @include tableStyle($secondColor) }
  &.first-column table{
    td:first-child {
      background : rgba($secondColor,.75);
      color: #fff;
    }
  }
}
.table--tertiary{ table  { @include tableStyle($thirdColor)  }
  &.first-column table{
    td:first-child {
      background : rgba($thirdColor,.75);
      color: #fff;
    }
  }
}
.table--accent{ table    { @include tableStyle($accentColor) }
  &.first-column table{
    td:first-child {
      background : rgba($accentColor,.75);
      color: #fff;
    }
  }
}
.table--dark{ table      { @include tableStyle($darkColor)   }
  &.first-column table{
    td:first-child {
      background : rgba($darkColor,.75);
      color: #fff;
    }
  }
}
