// Version: 2.4.0
.main_slider{
  .tns-outer {
    position: relative;
    padding: 0 !important; // remove padding: clientWidth = width + padding (0) = width
    [hidden] { display: none !important; }
    [aria-controls], [data-action] { cursor: pointer; }
    &.ms-touch {
      overflow-x: scroll;
      overflow-y: hidden;
      -ms-overflow-style: none; // Hides the scrollbar.
      -ms-scroll-chaining: none; // Prevents Metro from swiping to the next tab or app.
      -ms-scroll-snap-type: mandatory; // Forces a snap scroll behavior on your images.
      -ms-scroll-snap-points-x: snapInterval(0%, 100%); // Defines the y and x intervals to snap to when scrolling.
    }
  }
  .tns-slider {
    -webkit-transition: all 0s;
    -moz-transition: all 0s;
    transition: all 0s;
    > .tns-item {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }
  }
  
  .tns-horizontal.tns-subpixel {
    white-space: nowrap;
    > .tns-item {
      display: inline-block;
      vertical-align: top;
      white-space: normal;
    }
  }
  .tns-horizontal.tns-no-subpixel {
    &:after {
      content: '';
      display: table;
      clear: both;
    }
    > .tns-item {
      float: left;
      margin-right: -100%;
    }
  }
  .tns-no-calc {
    position: relative;
    left: 0;
  }
  
  .tns-gallery {
    position: relative;
  left: 0;
  // overflow: hidden;
  > .tns-item {
    position: absolute;
    left: -100%;
    -webkit-transition: opacity 0s;
    -moz-transition: opacity 0s;
    -webkit-transition: transform 0s, opacity 0s;
    -moz-transition: transform 0s, opacity 0s;
    transition: transform 0s, opacity 0s;
  }
}
.tns-lazy-img {
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  transition: opacity 0.6s;
  opacity: 0.6;
  &.loaded { opacity: 1; }
}
.tns-ah {
  -webkit-transition: height 0s;
  -moz-transition: height 0s;
  transition: height 0s;
}
.tns-ovh { position: relative;overflow: hidden;}
.tns-hdx { overflow-x: hidden; }
.tns-hdy { overflow-y: hidden; }
.tns-visually-hidden { position: absolute; left: -10000em; }
.tns-transparent { opacity: 0; visibility: hidden; }

.tns-fadeIn {
  opacity: 1;
  filter: alpha(opacity=100);
  z-index: 0;
}
.tns-normal, .tns-fadeOut {
  opacity: 0;
  filter: alpha(opacity=0);
  z-index: -1;
}
.tns-controls, .tns-nav, [data-action="start"], [data-action="stop"]{
  position: absolute;
}
@include from(m){
  .tns-controls{
    left: 50%;
    bottom: 15%;
    transform: translateX(-50%);
    @include crossCenter;
    @include mainJustify;
    z-index: 1;
    padding: 0 10px;
    [data-controls]{
      // position: absolute;
      border-radius: 25px;
      padding: 11px;
      margin: 5px;
      width: 40px;
      height: 40px;
      background: rgba(16, 48, 79, 0.451);
      color: white;
      border: none;
    }
    [data-controls="prev"]{
      @include mainCenter;
      @include crossCenter;
    }
    [data-controls="next"]{
      @include mainCenter;
      @include crossCenter;
    }
  }
}
}