.acordion-enter-active, .acordion-leave-active {
  max-height: 9999px;
  transition: max-height 5s ease-in;
}
.acordion-enter, .acordion-leave-to /* .acordion-leave-active below version 2.1.8 */ {
  max-height: 0px;
  transition: max-height 0.01s ease-out;
}

.nosotros-content-enter-active, .nosotros-content-leave-active {
  max-height: 9999px;
  transition: max-height 5s ease-in;
}
.nosotros-content-enter, .nosotros-content-leave-to /* .acordion-leave-active below version 2.1.8 */ {
  max-height: 0px;
  transition: max-height 0.01s ease-out;
}